{# 
    items
    id
    class
    layout
#}
{% if data %}
    {# {{ fn( 'pp_debug', data, true ) }}     #}
    <div 
        {{ data.id ? 'id="' ~ data.id ~ '"' }}
        class="carousel {{ data.class }} carousel--{{ data.layout|default('default') }}"
    >        
        {% for post in data.posts %}
            <a href="{{ post.link }}" class="anchor--default carousel--item post--rel d-flex flex-column align-items-start justify-content-center">
                <p class="carousel--headline">{{ post.titulo_box_oportunidades }}</p>
                <p class="carousel--title text-uppercase">{{ post.subtitulo_box_oportunidades }}</p>
                <p class="carousel--description">{{ post.chamada }} </p>
                <span>Saiba mais <i class="d-inline-block icon-more"></i></span>
            </a>
        {% endfor %}
    
    </div>
    {% set data = false %}
{% endif %}