{# 
    items
    id
    class
    layout
#}
{% if data %}
    {# {{ fn( 'pp_debug', data, false ) }}     #}
    <div 
        {{ data.id ? 'id="' ~ data.id ~ '"' }}
        class="carousel {{ data.class }} carousel--{{ data.layout|default('default') }}"
    >        
        
        {% if data.items %}

        {% for item in data.items %}            
            
            {# Define Variables #}
            {% set hasLink = (item.cta.url or item.link) ? true : false %}
            
            <div class="{{ data.classItem|default('carousel--item pos--rel d-flex flex-column align-items-center justify-content-center') }}"
            >
                {% if hasLink %}
                    <a href="{{ item.cta.url ~ item.link }}" title="Veja Mais" class="anchor--hidden anchor--default"></a>
                {% endif %}
                {% if item.title %}
                    <p class="{{ class.sectionTitle|default('carousel--title') }}">{{ item.title }}</p>
                {% endif %} 
                
                {% if item.subtitle %}
                    <p class="{{ class.sectionSubtitle|default('carousel--subtitle') }}">{{ item.subtitle }}</p>
                {% endif %}                 
                
                {% if item.description %}
                    <p class="{{ class.sectionDescription|default('carousel--description') }}">{{ item.description }}</p>
                {% endif %}            
                
                {% if item.image %}                
                    <figure >
                        {{ fn('_p', 'img:acf-image',item.image) }}
                    </figure>
                {% endif %}
                
                {% if item.cta %}
                    {% include 'acf/link.twig' with { 'data': item.cta, 'layout': (hasLink ? 'button' : 'default' )  } %}
                {% endif %}   

            </div>
            
        {% endfor %}

{% endif %}

    
    </div>
    {% set data = false %}
{% endif %}