{#  
    title
    description
    image
    cta
    link
#}
{% if data.items %}

        {% for post in data.items %}        
            <article class="tease tease--{{post.post_type}}" id="tease--{{post.ID}}">
                {% block content %}
                    <a href="{{post.link}}" class="anchor--default" title="{{post.title}}">
                        {% if post.imagem %}
                            {{ fn( 'set_image', post.imagem, 'full' ) }}
                        {% endif %}			
                        <h2 class="tease--title">                            
                            {{post.chamada}}
                        </h2>			                        
                        <p class="tease--chamada">Leia o relato completo <i class="d-inline icon-more-white"></i></p>
                                          
                    </a>
                {% endblock %}
            </article>          
        {% endfor %}

{% endif %}