{% if sliders %}
    
    <div id="{{ sectionID }}" class="{{ class.slider|default('slide slide--default slide--fullbg') }}">
        
        {% for slider in sliders %}
            {# {{ fn( 'pp_debug', slider ) }} #}
            {% set hasLink = (slider.cta.url or slider.link) ? true : false %}
            
            <{{ hasLink ? 'a' : 'div' }}
            class="{{ hasLink ? 'anchor--default' }} {{ class.slideContainer|default('pos--rel slide--container d-flex align-items-center justify-content-center') }}" 
            href="{{ slider.cta.url|default('#') }}"
            data-bg-desktop="{{ slider.image.url }}"
            >
                
                {# {% include 'els/image-cover.twig' with { data: slider.image } %} #}

                <div class="{{ class.slideContent|default('slide--content text-center') }}">
                    
                    {% if slider.title %}
                        <h2 class="{{ class.slideTitle|default('slide--title') }}" >{{ slider.title }}</h2>
                    {% endif %}
                    
                    {% if slider.description %}
                        <p class="{{ class.slideTitle|default('slide--description') }}">{{ slider.description }}</p>
                    {% endif %}
                    
                    {% include 'acf/link.twig' with { 'link': slider.cta, 'layout': configs.button|default('button')  } %}

                </div>

            </{{ hasLink ? 'a' : 'div' }} >

        {% endfor %}
    
    </div>

{% endif %}