/** Lazys **/
	.lazy {
		&--background {
			@include parent--full();
		}
	}
/** Lazys **/



/** Slides **/
	.slide {

		&--fullbg {

			.slide {

				&--content {
					position: relative;
					z-index: 2;
				}

			}
		}
	}
/** Slides **/





/* Contact Form 7 */
/* ----------------------------------------- */
	.wpcf7 {
		.hide-success {
			.wpcf7-mail-sent-ok {
				display: none !important;
			}
		}

		// Quebra a linha no response para formulários inline
		.form-inline {
			&:after {
				content: '';
				width: 100%;
			}
			.wpcf7-response-output {
				order: 1;
			}
		}
	}
/* ----------------------------------------- Contact Form 7 */




/* WordPress WYSIWYG Editor Styles */
/* ----------------------------------------- */
	.hentry {
		img {
			max-width: 100%;
			height: auto;
		}
		a {
			color: theme-color("primary");
			&:hover { text-decoration: underline;}
		}
		.entry-content img {
			margin: 0 0 1.5em 0;
		}
		.alignleft, img.alignleft {
			margin-right: 1.5em;
			display: inline;
			float: left;
			}
		.alignright, img.alignright {
			margin-left: 1.5em;
			display: inline;
			float: right;
			}
		.aligncenter, img.aligncenter {
			margin-right: auto;
			margin-left: auto;
			display: block;
			clear: both;
			}
		.alignnone, img.alignnone {
		/* not sure about this one */
		}
		.wp-caption {
			margin-bottom: 1.5em;
			text-align: center;
			padding-top: 5px;
			img {
				border: 0 none;
				padding: 0;
				margin: 0;
			}
			p.wp-caption-text {
				line-height: 1.5;
				font-size: 10px;
				margin: 0;
			}
		}

		.wp-smiley {
			margin: 0 !important;
			max-height: 1em;
		}
		blockquote.left {
			margin-right: 20px;
			text-align: right;
			margin-left: 0;
			width: 33%;
			float: left;
		}
		blockquote.right {
			margin-left: 20px;
			text-align: left;
			margin-right: 0;
			width: 33%;
			float: right;
		}
	}
/* ----------------------------------------- WordPress WYSIWYG Editor Styles */

/* Default Style Dropdown */
/* ----------------------------------------- */

	.select-box {
		// background-color: white;
		position: relative;
		// border: 1px solid fade(theme-color("primary"), 20%);
		z-index: 2;
		// height: 100%;
		width: 100%;

		select {
			appearance: none;
			position:relative;
			z-index: 2;
			width: 100%;
			margin: 0 !important;
			display: inline-block;
			border: 0;
			border-radius: 0px;
			// color: theme-color("primary");
			padding-right: 30px;
			&:hover {
				cursor: pointer;
			}
		}

		&:after {
			// content:"\f078";
			// content:"\f13a";
			// font-family: FontAwesome;
			// position:absolute;
			// right: 8px;
			// top: 50%;
			// color: theme-color("primary");
			// z-index:10;
			// font-size: 22px;
			// line-height:10%;
		}
	}
/* ----------------------------------------- Default Style Dropdown */



/* Menus */
/* ----------------------------------------- */

	// Clear Menu
	.header {

		.navbar {
			ul {
				padding: 0;
				margin: 0;
				list-style: none;

				&.sub-menu {
					display: none;
				}
			}
		}

	}
	// start MOBILE FULL
	$menu-bar-height : 92px;

	@include media-breakpoint-down(md) {
		body {

				&.mobilemenu--open {

						overflow: hidden;
						max-width: 100vw;
						max-height: 100vh;

						.header {
								&--mobilefull {
										.navbar {
												&--container {
														animation: toggleMenu 350ms ease 1 forwards;
														z-index: 10;
												}
										}
								}
						}
				}
		}

	.header {

		&--mobilefull {

					.navbar {

						&--container {
								position: fixed;
								z-index: -10;
								opacity: 0;
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								height: 100vh;
								width: 100vw;
								max-width: 100%;
								text-align: center;
								display: flex;								
								flex-direction: column;
								transition: 250ms ease all;
								flex-wrap: wrap;
						}

						&--navigation {

								display: flex;
								height: $menu-bar-height;
								width: 100%;
								background-color: #FBFBFB;

								div {
										height: 100%;
										display: flex;
										justify-content: center;
										align-items: center;
										min-width: 60px;
								}

								&--current {
										width: 100%;
								}

						}

						ul {
							background-color: white;
							width: 100%;
							overflow-y: scroll;
							transition: 350ms ease-in-out;
							padding-bottom: 25vh;
							position: absolute;							
							top: $menu-bar-height;
							height: calc(100% - #{$menu-bar-height});
							
							// min-height: 100%;
							// height: 100%;

							a {
								display: block;
							}

							&.navbar--menu {								
								// position: relative;
								// z-index: 1;
								// display: flex;
								// flex-direction: column;
								// flex-grow: 1;
							}

							&.sub-menu {
								display: block;
								top: 0;
								bottom: 0;				
								z-index: -1;
								opacity: 0;				
								height: auto;

								&--visible {
									z-index: 2;
									opacity: 1;
								}

							}

						}

				}
				}
		}
		// end MOBILE FULL
	}
/* ----------------------------------------- Menus */
