{% extends "base.twig" %}

{% set wrapper_class = 'full-width' %}
{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">            
            {# Header #}
            {%                
                include 'partial/section.twig' with { 
                    'data': fn( 'get_field', 'header' ),
                    'tagTitle': 'h1',
                    'class': { 'container': 'section--pageheader' },
                }
            %}
                     
            {# Alertas #}
            {% set data = fn('get_field', 'alertas') %}            
            {% set carousel = fn('get_field', 'alertas_items') %}
            {% set data = data|merge({ 'carousel': { 
                'items' : carousel.carousel_01,
                'class': 'carousel--layout02',
                'classItem': 'carousel--item pos--rel d-flex flex-column align-items-center justify-content-start'
            } }) %}
            
            {%                
                include 'partial/section.twig' with { 
                    'data': data,
                    'sectionID': 'section--porque',
                    'hasContainer': true,
                }
            %}


            {# Passos #}
            {% set passos = post.get_field('passos').carousel_06 %}
            {% if passos %}
                <div class="passos">
                    {% for passo in passos %}
                        <div class="passos--item">
                            <div class="container">
                                <div class="passos--header">
                                    <span class="passos--headline">{{ passo.subtitle }}</span>
                                    <h3 class="passos--title">{{ passo.title }}</h3>
                                </div>
                                <div class="passos--body">
                                    <div class="passos--imagem">                                    
                                        <img src="{{ passo.image.url }}" class="img-fluid" />
                                    </div>
                                    <div class="passos--content">
                                        {{ passo.description }}
                                    </div>
                                </div>
                            </div>
                            {# {{ fn( 'pp_debug', passo, false ) }} #}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <div id="section--formconsultoria" class="section section--white pos--rel section--formulario section--1400">
                <div class="container">
                    <h2 class="section--subtitle">{{ post.formulario_titulo }}</h2>
                    <div class="section--description">{{ post.get_field('formulario_descricao') }}</div>
                    <br><br><br>
                    <div class="text-left">
                        {{ fn( 'do_my_shortcode', post.formulario_shortcode ) }}
                    </div>
                </div>
            </div>
                
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}