.btn {
    text-transform: uppercase;
    text-align: center;
    min-width: 130px;
    border-radius: 40px;
    padding-left: 35px;
    padding-right: 35px;
    display: inline-block;
    // @include transition();
    border: 2px solid inherit;
    font-weight: 500;
    @include p1();

    border-color: #FFFFFF;
    color: #FFFFFF;
    background-color: transparent;
    &:hover {
        background: white;
        color: #666666;
    }

    &--dark {
        color: #666666;
        border-color: #666666;
        &:hover {
            background-color: #666666;
            color: white;
        }
    }
}

[data-color=light]:not([data-hex="#939393"]) {
    .btn {
        @extend .btn--dark;
    }
}