/* Positions */
/* ----------------------------------------- */
    .pos {
        &--rel {
            position: relative;
        }

        &--fix {
            position: fixed;
        }

        &--abs {
            position: absolute;
        }
    }
/* ----------------------------------------- Positions */

/* Hovers */
/* ----------------------------------------- */    
	.anchor {
		&--default {
			&, & *, &:hover, &:hover * {
				text-decoration: none;
			}
        }
        &--hidden {
            @include parent--full();
            z-index: 3;
        }
    }
    
    .hover {
        &--underline:hover {
            text-decoration: underline;            
        }
        &--pointer:hover {
            cursor: pointer !important;
        }
    }
/* ----------------------------------------- Hovers */


//