@mixin icon-slick-prev() {
	@include cssSprite($slick-prev);
}

@mixin icon-slick-next() {
	@include cssSprite($slick-next);
}

@mixin icon-slick-prev-medium() {
	@include cssSprite($slick-prev-medium);
}

@mixin icon-slick-next-medium() {
	@include cssSprite($slick-next-medium);
}


