@mixin cssSprite( $spriteVals ) {
	width: nth( $spriteVals, 1 );
	height: nth( $spriteVals, 2 );
	background-repeat: no-repeat;
	background-image: url( #{ nth( $spriteVals, 3 ) } );
	background-position: nth( $spriteVals, 4 ) nth( $spriteVals, 5 );
	@media only screen and ( -webkit-min-device-pixel-ratio: 2 ), only screen and ( min-device-pixel-ratio: 2 ) {
		background-image: url( #{ nth( $spriteVals, 6 ) } );
		background-size: $bgiSizeW $bgiSizeH;
	}
}
$spritesPath: '../images/sprites';
$spritesURL: $spritesPath + '.png';
$spritesx2URL: $spritesPath + '@2.png';
$bgiSizeW: 691px;
$bgiSizeH: 411px;
$breadcrumb: 5.85px 10.02px $spritesURL -313.41629479852105px -68.20199605636299px $spritesx2URL;
$icon-dropdown: 12.3px 7.03px $spritesURL -290.347655703125px -70.222655703125px $spritesx2URL;
$list-arrow: 28px 28px $spritesURL -610px -299.75px $spritesx2URL;
$more-white: 18.75px 11.31px $spritesURL -19px -90px $spritesx2URL;
$arrow-down-orange: 20.21px 11.54px $spritesURL -611.3925772265625px -254.5800772265625px $spritesx2URL;
$grid-off: 22px 19px $spritesURL -468px -15px $spritesx2URL;
$list-on: 23px 19px $spritesURL -436px -46px $spritesx2URL;
$list-off: 23px 19px $spritesURL -468px -46px $spritesx2URL;
$grid-on: 22px 19px $spritesURL -436px -15px $spritesx2URL;
$sort-a-on: 19px 20px $spritesURL -436px -83px $spritesx2URL;
$sort-a-off: 19px 20px $spritesURL -470px -83px $spritesx2URL;
$sort-z-on: 19px 20px $spritesURL -436px -120px $spritesx2URL;
$sort-z-off: 19px 20px $spritesURL -471px -120px $spritesx2URL;
$checked: 12px 9.13px $spritesURL -50px -70.4375px $spritesx2URL;
$plus: 30px 30px $spritesURL -319px -15px $spritesx2URL;
$minus: 30px 30px $spritesURL -278px -15px $spritesx2URL;
$chat: 24px 20.57px $spritesURL -610px -210px $spritesx2URL;
$pin-2: 18px 24px $spritesURL -612px -177px $spritesx2URL;
$more: 12.5px 7.54px $spritesURL -22px -68.7109369140625px $spritesx2URL;
$fw-ampuleta: 13.79px 19.96px $spritesURL -649px -259px $spritesx2URL;
$fw-calendar: 20px 20px $spritesURL -646px -231px $spritesx2URL;
$fw-person: 18px 22px $spritesURL -647px -201px $spritesx2URL;
$slick-prev-medium: 22.5px 37.5px $spritesURL -452px -199.75px $spritesx2URL;
$slick-next-medium: 22.5px 37.5px $spritesURL -496px -199.75px $spritesx2URL;
$slick-prev: 30px 50px $spritesURL -445px -257px $spritesx2URL;
$slick-next: 30px 50px $spritesURL -496px -257px $spritesx2URL;
$check-circle: 40px 40px $spritesURL -502px -12px $spritesx2URL;
$arrow-down: 14.06px 8.03px $spritesURL -565.968749375px -27.968749375px $spritesx2URL;
$star: 22.29px 21.25px $spritesURL -609px -139px $spritesx2URL;
$dollar: 11.27px 22.29px $spritesURL -650.3515625px -171.18359375px $spritesx2URL;
$ampuleta: 13.79px 19.96px $spritesURL -648.10546875px -140.26953125px $spritesx2URL;
$vacation: 52px 20px $spritesURL -621px -98px $spritesx2URL;
$people: 39px 22px $spritesURL -633px -57px $spritesx2URL;
$calendar: 20px 20px $spritesURL -643px -19.25px $spritesx2URL;
$aspas: 36.13px 30.13px $spritesURL -14.60170282716264px -145.900390625px $spritesx2URL;
$inta-white: 42px 48px $spritesURL -10px -281px $spritesx2URL;
$pinte-white: 35px 48px $spritesURL -154px -282px $spritesx2URL;
$fb-white: 28px 48px $spritesURL -89px -281px $spritesx2URL;
$info: 32px 32px $spritesURL -88px -210px $spritesx2URL;
$pin: 22.5px 31.5px $spritesURL -15px -211.75px $spritesx2URL;
$pinte-gray: 14.29px 18.57px $spritesURL -373px -194.8571224212646px $spritesx2URL;
$insta-gray: 17.14px 17.14px $spritesURL -334.9993024545256px -196.2849980073515px $spritesx2URL;
$fb-gray: 9.64px 18.57px $spritesURL -304.0602691210806px -194.8571224212646px $spritesx2URL;
$toggle: 34px 35px $spritesURL -178px -11px $spritesx2URL;
$arrow-left: 34px 35px $spritesURL -125px -11px $spritesx2URL;
$close: 20.95px 20.95px $spritesURL -70.024px -15.924px $spritesx2URL;
$search: 18px 18px $spritesURL -23px -17px $spritesx2URL;
$spritesList: $breadcrumb breadcrumb, $icon-dropdown icon-dropdown, $list-arrow list-arrow, $more-white more-white, $arrow-down-orange arrow-down-orange, $grid-off grid-off, $list-on list-on, $list-off list-off, $grid-on grid-on, $sort-a-on sort-a-on, $sort-a-off sort-a-off, $sort-z-on sort-z-on, $sort-z-off sort-z-off, $checked checked, $plus plus, $minus minus, $chat chat, $pin-2 pin-2, $more more, $fw-ampuleta fw-ampuleta, $fw-calendar fw-calendar, $fw-person fw-person, $slick-prev-medium slick-prev-medium, $slick-next-medium slick-next-medium, $slick-prev slick-prev, $slick-next slick-next, $check-circle check-circle, $arrow-down arrow-down, $star star, $dollar dollar, $ampuleta ampuleta, $vacation vacation, $people people, $calendar calendar, $aspas aspas, $inta-white inta-white, $pinte-white pinte-white, $fb-white fb-white, $info info, $pin pin, $pinte-gray pinte-gray, $insta-gray insta-gray, $fb-gray fb-gray, $toggle toggle, $arrow-left arrow-left, $close close, $search search;
@each $icon in $spritesList {
	$spritesName: nth( $icon, 2 );
	$spritesClass: nth( $icon, 1 );
	.icon-#{$spritesName} {
		@include cssSprite( $spritesClass );
	}
}
