{#  
    title
    description
    image
    cta
    link
#}
{% if data.items %}

        {% for post in data.items %}        
            {% include ['tease-'~ post.post_type ~'.twig', 'tease.twig'] with {'post' : post } %}
        {% endfor %}

{% endif %}