@include media-breakpoint-down($pp--before-expand) {    
    // body {
    //     border: 2px solid red;
    // }
    body.archive {
        .wrapper.container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    /* Menu */
    /* ----------------------------------------- */
        .header .navbar--menu li {
            margin-bottom: 40px;
            &:first-of-type {
                margin-top: 40px;
            }
        }
    /* ----------------------------------------- Menu */
    

    /* Sections */
    /* ----------------------------------------- */
        .section {            
            &--subtitle {
                max-width: 100%;
                margin: 0 auto 1em;
            }
            &--pageheader {
                .section {
                    &--description {
                        padding-left: 30px;
                        padding-right: 30px;
                        max-width: 100%;
                    }
                    &--subtitle {
                        max-width: 100%;
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }    
    /* ----------------------------------------- Sections */
    

    /* Footer */
    /* ----------------------------------------- */
        #footer {

            .social--list {
                border-top: 2px solid rgba(255,255,255,0.38);
                max-width: 300px;
                justify-content: space-between;
            }

        }    
    /* ----------------------------------------- Footer */


    /* Home */
    /* ----------------------------------------- */
        #section--depoimentos {
            .carousel--item {
                &, figure {
                    display: none !important;
                }

                &:nth-of-type(1) {
                    display: flex !important;
                    background: transparent;
                    color: inherit;
                    padding-bottom: 0;

                    .carousel--description {
                        &:before, &:after {
                            filter: none;
                        }
                    }
                }
            }
        }
    /* ----------------------------------------- Home */
    
    body.single-destinos {
        .section--sobre {
            padding-top: 60px;
            padding-bottom: 75px;
        }
    }

    body.page-template-sobre {
        .section--pageheader {
            .section--subtitle {
                padding-left: 20px;
                padding-bottom: 20px;
            }
        }
        .section--sobre {
            padding: 60px 25px 75px 25px;
        }
    }

    body.search-results {
        .section--pageheader {
            min-height: 0;
        }        
    }
}