@include media-breakpoint-up(xl) {	
    

    /* Base */
    /* ----------------------------------------- */
        .btn {
            &:not(.btn--default) {
                font-size: 24px;
                padding: 15px 79px;
                border-width: 2px;
            }
        }    
    /* ----------------------------------------- Base */
    
    /* Hentry */
    /* ----------------------------------------- */
        .hentry {
            p {                
                font-size: 18px;
                line-height: 28px;
            }
            h2 {
                font-weight: bold;
                font-size: 48px;
                color: #666666;
                margin: 0.4em 0;
            }
        }    
    /* ----------------------------------------- Hentry */
    

    /* home */
    /* ----------------------------------------- */
        body.home {
            
            #section--sobre {
                .section--subtitle {                
                    font-size: 86px;
                    line-height: normal;
                    max-width: 100%;
                }       
                .section--description {
                    font-size: 24px;
                    line-height: 50px;
                }
            }
            
        }

        #featured--slider {
            .slide {
                &--content {
                    width: 100%;
                    margin: 0 auto;
                    max-width: 1400px;
                }
                &--title {                
                    font-size: 100px;
                    max-width: 1340px;
                }
                &--description {                
                    font-size: 40px;
                    max-width: 100%;
                    line-height: 47px;
                    margin-bottom: 80px;
                }
            }
        }

    /* ----------------------------------------- home */
    

    
    

    /* Sections */
    /* ----------------------------------------- */
        
        h2.section--subtitle {            
            font-size: 48px;
            margin-top: 55px;
            line-height: 54px;
            max-width: 782px;
            &.--archive {
                margin-top: 0;
            }
        }
        
        .section {
            padding-top: 120px;
            padding-bottom: 120px; 

            &--pageheader, &--blogheader {
                .section--subtitle {
                    font-size: 86px;
                    line-height: normal;
                    max-width: 90%;
                    margin-bottom: 60px;
                }
            }
            &--blogheader {
                padding-bottom: 125px;
                .section--description {
                    max-width: 1260px;
                }
            }
            &--sobre {
                // .container {
                //     max-width: 1420px; 
                // }
                p {                                        
                    font-size: 20px;
                    line-height: 40px;
                }
            }

            &--destinosvisitados {
                padding-bottom: 150px;
            }
            
            .carousel {
                + .btn {
                    margin-top: 120px;
                    margin-bottom: 0;
                }
            }
        }    
    /* ----------------------------------------- Sections */
        

    /* Loops */
    /* ----------------------------------------- */
        .loop {
            &--actions {
                &--sort {
                    // justify-content: flex-end;
                    // max-width: 1860px;
                    // margin-top: 75px;
                }
            }
            &--navigation {
                .btn {
                    margin-top: 55px;
                    margin-bottom: 105px;
                }
            }
        }    
    /* ----------------------------------------- Loops */
    
    /* Blog */
    /* ----------------------------------------- */
        body.blog, body.category, body.tag {
            .facetwp-template {
                .tease--post {
                 
                    &:nth-of-type(10n+1), &:nth-of-type(10n+8) {
                        .tease--title {                        
                            font-size: 30px;
                            line-height: 35px;
                            .tease--headline {
                                font-size: 20px;
                            }
                        }    
                        .tease--chamada {
                            font-size: 24px;
                            line-height: 50px;
                            &:before { max-width: 220px; }
                        }                    
                        grid-column-end: span 2;
                        grid-row-end: span 2;
                    }
                    
                }
            }
        }    
    /* ----------------------------------------- Blog */
    
    /* Páginas */
    /* ----------------------------------------- */
        body {
            &.page-template-default {
                .section {
                    &--pageheader {
                        min-height: 0;
                        .section--description {
                            font-size: 24px;
                        }
                    }
                }
                article.post-type-page {
                    .container {
                        max-width: 1600px;
                    }
                }
            }


            &.page-template-sobre {
                .section--sobre {
                    padding-top: 200px;
                    padding-bottom: 250px;
                }
            }
        }    
    /* ----------------------------------------- Páginas */

    /* Consultoria */
    /* ----------------------------------------- */
        .passos {
            &--headline {
                font-size: 24px;
                line-height: 50px;
            }
            &--title {                
                font-size: 48px;
            }
            &--body {
                padding-top: 90px;
                padding-bottom: 0px;
            }
            &--content {                
                font-size: 24px;
                line-height: 50px;
                max-width: 860px;
                ul {
                    li {
                        margin-bottom: 12px;
                        &:before {
                            top: 11px;
                        }
                    }
                }
            }
        }
    /* ----------------------------------------- Consultoria */
    
    /* Quem Somos */
    /* ----------------------------------------- */
        .carousel--items {
            grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
        }
    /* ----------------------------------------- Quem Somos */
    
    /* Blog Single */
    /* ----------------------------------------- */
        body.single-post {

            #content {
                padding-top: 65px;

                #breadcrumbs {
                    padding-top: 0 !important;
                    padding-bottom: 0 !important;
                }
                
                .content-wrapper {
                    .container {
                        max-width: 1558px;
                    }
                }

                .title--post {
                    font-size: 86px;
                    line-height: 80px;
                    margin-bottom: 75px;
                    margin-top: 75px;
                }
    
                .hentry {
                    padding-left: 40px;
                    padding-right: 40px;
                }
            }

        }    
    /* ----------------------------------------- Blog Single */
    
}