@include media-breakpoint-up(lg) {
    
    .header {
        &--logo {
            display: none !important;
        }

        .navbar--menu {
            > li {
                > .sub-menu {
                    padding-left: 27px;
                    > li {
                        margin-right: 80px;
                    }
                }
                > a {
                    margin-left: 10px;
                    margin-right: 10px;
                }
                &.menu-item-home {
                    margin-left: 25px;
                    margin-right: 25px;
                }
            }
        }
    }

    /* Blog */
    /* ----------------------------------------- */
        #veja-mais-blog {
            .carousel {
                &--item {
                    max-width: 260px;
                    padding: 40px 35px;
                    font-size: 18px;
                }
                figure {
                    margin-bottom: 30px;
                }
                
            }
        }
    /* ----------------------------------------- Blog */
    
    .page-template-consultoria, .page-template-atendimento {
        .section {
            &--pageheader {
                .section--subtitle, .section--description {
                    max-width: 1346px;
                }
            }
        }
    }
    
    .section {
        &--sobre {
            .container {
                max-width: 1200px;
            }
        }
        &--formulario {
            .container {
                max-width: 1305px;
            }
            .section {
                &--subtitle {
                    font-size: 48px;
                    margin-top: 75px;
                    margin-bottom: 100px;
                    max-width: 100%;
                }
                &--description {
                    font-size: 24px;
                    line-height: 40px;
                }
            }
        }

        &#section--imprensa, &#section--parcerias {
            .section--description {
                max-width: 1480px;
            }
        }

        &#section--parcerias .section--description {
            text-align: left;
        }

        .col-lg-6 {
            + .col-lg-6 {
                margin-top: initial;
            }
        }
        
    } 

    /* Footer */
    /* ----------------------------------------- */
        .footer {
            &--content {
                .container {
                    max-width: 1920px;
                    .col-12 {
                        padding-left: 60px;
                        padding-right: 60px;
                        margin-top: 50px !important;
                    }
                }
            }            
        }    
    /* ----------------------------------------- Footer */
    
}