@include media-breakpoint-up(expand) {
    
    /* Header */
    /* ----------------------------------------- */
                
        body {
            &:not(.home) {
                margin-top: $pp--menuheight-after;
            }
        }
        .navbar--logo {
            display: none;
        }

        .header {
            background-color: white;
            opacity: 0;
            .container {
                max-width: 100%;
            }
            .navbar {
                &--container {
                    display: flex;
                    width: 100%;
                }
                &--menu {
                    display: flex;
                    justify-content: center;
                    width: auto;
                    margin: 0 auto;
                    > li {
                        > a {
                            // margin-left: 10px;
                            // margin-right: 10px;
                            padding-right: 15px;
                            padding-left: 15px;
                            line-height: 80px;
                            display: inline-block;
                        }

                        &.menu-item-home > a {
                            margin-left: 10px;
                            margin-right: 10px;
                        }

                        &.actions {
                            position: absolute;
                            right: 0;
                            z-index: -10;
                            opacity: 0;
                            height: 100%;

                            &.visible {
                                opacity: 1;
                                z-index: 1;
                            }
                            > a { display: none; }
                            .sub-menu {
                                position: relative;
                                top: initial;
                                display: flex;
                                padding: 0 10px 0 0 ;
                                height: 100%;
                                align-items: center;
                                &:before {
                                    display: none !important;
                                }
                                li {
                                    margin: 0 10px 0 0;
                                    height: 100%;
                                    display: flex;
                                    align-items: center;

                                    &:first-of-type {                                        
                                        border-right: 1px solid #DDDDDD;
                                        padding-right: 20px;
                                        margin-right: 20px;
                                    }
                                    a {
                                        margin: 0;
                                        padding: 5px;
                                        line-height: normal;
                                    }
                                }
                            }
                        }
                    }
                    a {                
                        font-size: 18px;
                        &:hover {
                            color: #000;
                            text-decoration: none;
                        }          
                    }
                    > li {
                        margin-top: 0 !important;
                        margin: 0;
                    }
                }
            }
        }

    /* ----------------------------------------- Header */
    
    /* Search */
    /* ----------------------------------------- */
        .search-wrapper {
            form {
                max-width: 800px;
                padding: 10px 30px;
                input[type=text] {
                    font-size: 18px;
                    padding: 1px 1px 1px 0;
                }
            }            
        }    
        body.search-no-results {
            .section--pageheader {
                .search-wrapper {
                    min-width: 800px;
                    max-width: 800px;
                }
            }
        }
    /* ----------------------------------------- Search */
    
    /* Sections */
    /* ----------------------------------------- */
        .section {
            &--pageheader {
                justify-content: center;
            }
            &--mapa {
                .g-maps {
                    height: 900px;
                }
            }
            &--sobre {
                .container {
                    max-width: calc(90% - 128px);
                }
            }
        }    
    /* ----------------------------------------- Sections */
    
    /* Home */
    /* ----------------------------------------- */
        
        body.home {
            margin-top: 0 !important;

            header.header {
                top: initial;
                bottom: 0;
                position: absolute;
            }

            #content {
                padding-top: 80px;
            }

            #section--onde {
                .container {
                   max-width: calc(100% - 128px);
                }
            }
        }
        #featured--slider {
            &:before {
                content: "";
                width: 100%;
                position: absolute;
                height: 13vh;
                top: 5vh;
                z-index: 2;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
            .slide--container {
                padding-top: 23vh;
            }
        }
    /* ----------------------------------------- Home */        

    

    /* Submenu */
    /* ----------------------------------------- */
        .navbar--menu {
            > li {
                > .sub-menu {
                    position: absolute;
                    top: 100%;
                    width: auto;
                    align-items: flex-start;                    
                    padding: 40px;
                    padding-left: 16px;
                    text-align: left;
                    &:hover {
                        display: flex;
                    }
                    &:before {
                        content: "";
                        background-color: #F3F3F3;
                        position: absolute;
                        top: 0;
                        width: 300vw;
                        height: 100%;
                        left: -100vw;
                        z-index: -1;
                    }
                    > li {
                        // max-width: 160px;
                        margin-right: 60px;
                        &:last-of-type {
                            margin-right: 0;
                        }
                        a {
                            font-size: 16px;
                        }
                        > a {
                            font-weight: bold;                         
                            color: #606060;
                            margin-bottom: 15px;
                            display: inline-block;
                            text-align: left;
                        }
                    }
                    
                    .sub-menu {
                        display: flex;
                        flex-direction: column;                       
                    }
                }
            }
        }    
    /* ----------------------------------------- Submenu */
    

    .loop {
        &--filters {
            flex-direction: row;
            padding: 0;
            margin-top: -64px;
            
            .facetwp-facet {
                margin: 0 6px;
                height: auto;
                min-height: 155px;

                &.facetwp-type-checkboxes {
                    &.expanded {
                        position: relative;
                        transition: none;
                        margin-top: -200px;
                        top: 100px;
                    }

                    &.facetwp-facet-destinos_meses_recomendados, &.facetwp-facet-pacotes_meses_recomendados {
                        .facetwp-checkbox:hover {
                            background: rgba(245,166,35,0.20);
                            color: #F5A623;
                        }
                        &.expanded {
                            margin-top: -188px;                            
                            top: 99px;
                        }
                    }
                }

                
            }
        }

        &--navigation .btn {
            margin-top: 18px;
        }
    }

    #section {
        &--depoimentos {      
            // .container {
            //     max-width: 1460px;
            // }
            .carousel {
                display: grid;
                grid-gap: 0;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                &--title {
                    
                }
                &--item {                    
                    padding: 25px 55px 0px !important;

                    &:nth-of-type(1) {
                        grid-row: 1 / span 2;
                        color: white !important;
                        .carousel--description, .carousel--title {
                            max-width: 390px;
                            margin-bottom: 20px;
                        }
                    }
                    
                    &:nth-of-type(2) {
                        grid-column: 2 ;
                        grid-row: 1;
                        background: #E5E5E5;
                        .carousel--description, .carousel--title {
                            max-width: 290px;
                            margin-bottom: 20px;
                        }
                    }
                    
                    &:nth-of-type(3) {
                        background: #D8D8D8;
                        grid-column: 3 ;
                        grid-row: 1;
                        .carousel--description, .carousel--title {
                            max-width: 290px;
                            margin-bottom: 20px;
                        }
                    }
                    
                    &:nth-of-type(4) {
                        grid-column: 2 / span 3 ;
                        grid-row: 2 ;
                        background: #FFFFFF;
                        .carousel--description, .carousel--title {
                            max-width: 640px;
                        }
                    }
                    
                    &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
                        color: #666666 !important;
                        .carousel--description {
                            padding: 0;
                            &:before, &:after {
                                filter: none;
                                transform: scale(.65);
                            }
                            &:before {
                                left: -40px;
                            }
                            &:after {
                                transform: scale(.65) rotate(180deg);
                                bottom: 0;
                                right: -40px;
                            }
                        }
                    }

                }
            }
        }
    }
    
    /* Footer */
    /* ----------------------------------------- */
        .footer {
            &--content {
                padding-top: 10px;
                padding-bottom: 15px;
                .container {
                    max-width: calc(100% - 60px);
                }
            }
            .social {
                &--list {
                    li {
                        &:first-of-type {
                            margin-right: 105px;
                        }
                        &:last-of-type {
                            margin-left: 155px;
                        }
                        a {
                            &:hover {
                                opacity: .85;
                            }
                        }
                    }
                }
                &--icon {
                    margin-right: 8px;
                }
            }
        }
        
        
        // Newsletter
        .section--newsletter {
            padding-top: 180px;
            padding-bottom: 200px;
            
            &--title {
                margin-bottom: 24px;
                font-weight: 700;
            }

            #signup-wrapper {
                flex-direction: row;
                max-width: 100%;

                > * {
                    margin-right: 10px;
                }                
            }

            .wpcf7 {
                input:not([type=submit]) {
                    font-weight: 300;
                    font-size: 16px;
                    padding: 5px 21px;
                    max-width: 450px;
                }
            }
        }

    /* ----------------------------------------- Footer */
        
    /* Blog */
    /* ----------------------------------------- */
        .navbar {
            &--blog {
                text-align: center;
                
                ul {
                    li {
                        display: inline-block;
                        border: 0;
                        a {
                            display: inline-block;
                        }
                    }
                }
            }
        }    

        body.blog, body.category, body.tag {
            .loop {
                &--filters {
                    &--search {
                        padding-bottom: 70px;
                    }
                }
            }
            .facetwp-template {                
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(calc((100% - 40px) / 4), 1fr));
                grid-gap: 10px;
                grid-auto-rows: minmax(260px, auto);
                grid-auto-flow: dense;
                padding: 10px;
                max-width: 90%;
                margin-left: auto;
                margin-right: auto;
                
                .tease--post {
                    width: auto;
                    margin: 0;
                    background-color: gray;
                    a {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        z-index: 0;
                        padding: 8% 7%;

                        &:after {
                            content: "";                    
                            @include el--fademask;
                            @include hover--fadeout;
                        }
                        &:before {
                            content: "";                    
                            @include el--mask;
                            @include hover--fadein;
                        }                

                        &, * { 
                            color: white;
                            @include transition;
                        }
                        
                        &:hover {
                            &:after { opacity: 0; }
                            &::before { opacity: 1; }
                            
                            .tease--title {
                                opacity: 0;
                            }
                            .tease--chamada {
                                opacity: 1;
                            }
                        }
                    }                    
                    .tease--chamada {
                        @include parent--full;
                        padding: 8% 7%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        opacity: 0;                        
                        font-size: 16px;
                        line-height: 22px;
                        margin: 0;

                        &:before {
                            content: "";
                            width: 60%;
                            display: block;
                            height: 2px;
                            background-color: white;
                            margin: 10px auto;
                            align-self: flex-end;
                        }

                    }                    
                    figure {
                        margin: 0;
                        @include el--background;
                    }                    
                    @include media-breakpoint-down(lg) {
                        &:nth-of-type(n+1) {                        
                            grid-column-end: span 2;
                            // grid-row-end: span 2;
                        }
                    }
                    &:nth-of-type(10n+1), &:nth-of-type(10n+8) {                        
                        grid-column-end: span 2;
                        grid-row-end: span 2;
                    }
                }
            }
        }
    /* ----------------------------------------- Blog */
    
    /* Singles */
    /* ----------------------------------------- */
        body.single-pacotes {
            .section--pageheader {                     
                .tease--chamada--icons {
                    flex-direction: row;    
                    padding: 7px 50px;                
                    > span {
                        margin-right: 30px;
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    /* ----------------------------------------- Singles */
    

    /* Consultoria */
    /* ----------------------------------------- */
        
        .passos {
            &--item {
                padding-top: 200px;
                padding-bottom: 250px;
                &:nth-of-type(2n) {
                    .passos--content {
                        order: -1;
                    }
                }
                .container {
                    max-width: 1380px !important;
                }
            }
            &--body {
                display: flex;
                align-items: center;
                padding: 60px 0;
            }
            &--imagem {
                padding-left: 70px;
                padding-right: 70px;
            }
        }
    /* ----------------------------------------- Consultoria */
    
    /* Single Blog */
    /* ----------------------------------------- */
        body.single {
            
            .gallery {
                figure {
                    margin: 0;
                    max-width: 100%;
                }
            }

            .sidebar {
                .wrapper {
                    margin-top: 0;
                    padding: 30px;
                    .sidebar {
                        max-width: 100%;
                        &:first-of-type {
                            margin-top: 8px;
                        }
                        &:last-of-type {
                            margin-bottom: 0px;
                        }
                        .tease {
                            margin: 0 0 20px 0;
                        }
                    }
                }
            }
        }    
    /* ----------------------------------------- Single Blog */
    
    /* Carousel */
    /* ----------------------------------------- */
        .carousel {
            &--layout04 {

                .slick {
                    &-prev { left: -55px; }
                    &-next { right: -55px; }
                    
                    &-slide {
                        opacity: 1;
                        &:not(.slick-active) {
                            .tease--title, .tease--chamada {
                                opacity: 0;
                            }
                        }
                    }
                }

            }
        }
    /* ----------------------------------------- Carousel */

    #input-nascimentos {
        max-width: 600px;
        .criancas {
            padding: 40px;
        }
    }
}

