 
/** Bases **/
    .hidenext {    
        &, ~ * {
            display: none;
        }
    }
    .shownext {
        cursor: pointer;
    }

    @mixin el--fademask {
        @include parent--full;
        z-index: -2;
        background-image: linear-gradient(-180deg, rgba(15,64,106,0.00) 14%, rgba(69,69,69,0.88) 82%);
    }
    
/** Bases **/

body {
    background-color: #DDDDDD;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
    &.admin-bar header.header {
        margin-top: 32px;
    }
    
    @include media-breakpoint-down($pp--before-expand) {        
    
        .header {
            > .container {
                background-color: white;
            }
    
            &--mobilefull {
    
                .navbar {
    
                    &--container {
                        position: fixed;                        
                        top: 0;
                        left: 0;
                        width: 0;
                        height: 0;                                            
                        transform-origin: left top;
                        overflow: hidden;                        
                        z-index: 100;
                        background-color: white;
                    }
    
                    &--navigation {
    
                        display: flex;
                        height: $pp--menuheight-before;
                        width: 100%;
                        background-color: #FBFBFB;
    
                        div {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            min-width: 60px;
                            text-align: center;
                        }

                        &--back {
                            opacity: 0;

                            &.visible {
                                opacity: 1;
                            }
                        }
    
                        &--current {
                            width: 100%;
                        }
    
                    }
    
                    ul {
                        background-color: white;
                        width: 100%;
                        overflow-y: scroll;
                        top: 0;                
                        height: calc(100vh - #{$pp--menuheight-before});
                        a {
                            display: block;
                        }
    
                        &.navbar--menu {								
                            position: relative;
                        }
    
                        &.sub-menu {                            
                            position: absolute;
                            z-index: -1;
                            opacity: 0;				
                            display: block !important;
                        }
    
                    }
    
                }

            }

        }

    } // @include media-breakpoint-down($view-expand)
}

/* Themes */
/* ----------------------------------------- */
    [data-hex="#ffffff"], .theme--dark {
        color: #666666;
        .btn {
            @extend .btn--dark;
        }
    }
    
    [data-color=dark],[data-hex="#939393"]  {
        color: white;
    }
    
    [data-color=dark] {
        color: white;
    }

/* ----------------------------------------- Themes */

/* Custom UIs */
/* ----------------------------------------- */
    .input--qtd {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;        
        &-minus, &-plus {
            content: "";
            flex-shrink: 0;
            display: inline-block;
            &:hover {
                opacity: .8;
                cursor: pointer;
            }
        }        
        &-minus {
            @extend .icon-minus;
        }
        &-plus {
            @extend .icon-plus;
        }
        input {
            width: 35px;
            padding: 0 !important;
            text-align: center; 
            -moz-appearance: textfield !important;           
            font-size: 24px;
            color: #F5A623 !important;
            margin-right: 15px;
            margin-left: 15px;
        }
        &-text {
            width: 100%;
            order: 10;
            font-weight: 500;
            margin-top: 10px;
        }
    }

    #input-nascimentos {
        border: 1px solid #F0F0F0;
        .criancas {
            background-color: #F8F8F8;
            padding: 40px 20px;
            &:nth-child(2n) {
                background-color: #F0F0F0;
            }
            > span {
                display: block;
            }
            > p {
                font-style: italic;
                font-size: 1.1em;
            }
            > span > label {
                display: block;
                margin-bottom: 3px;
                margin-top: 20px;
            }
        }
        span.idade {
            input {
                padding: 10px 30px 10px 20px;
                border-radius: 2px;
                border: 1px solid #DDD;
                display: inline-block;
                width: 110px;
            }
            .idade-wrapper {
                position: relative;
                display: inline-block;
                &:before {
                    content: "anos";
                    position: absolute;
                    left: 50px;
                    top: 14px;
                    font-style: italic;
                    color: lightgray;
                }
            }
        }
        span.nascimento {            
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 2px;
            display: inline-block;
            margin-bottom: 1rem;
            margin-right: 1rem;
            label {                
                background: #EFEEEE;
                line-height: 30px;
                margin: 0;
                padding: 11px 22px;         
                flex-shrink: 0;
            }
            input {
                padding: 0;
                line-height: 50px;
                width: 130px;
                text-align: right;
                padding-right: 17px;
            }
        }

        .sexo {
            .wpcf7-list-item {
                margin-top: 0;
            }
        }

        @media (min-width: 768px) {
            .criancas {
                > span {
                    display: inline-block;
                    margin-right: 45px    
                }
                > p {
                    margin-bottom: 0;
                }
            }
        }

    }
/* ----------------------------------------- Custom UIs */

/* Hentry */
/* ----------------------------------------- */
    .hentry {
        h3 {            
            font-size: 30px;    
            font-weight: bold;        
            color: #666666;
        }
        ul {
            padding-left: 35px;
            margin: 35px 0;
            position: relative;
            li {                
                font-weight: 300;                
                color: #666666;                
                font-size: 16px;
                line-height: 19px;
                padding-bottom: 18px;
                &:before {
                    display: inline-block;
                    content: ".";                    
                    position: absolute;
                    left: 12px;
                    font-weight: 500;                    
                    font-size: 36px;
                    line-height: 2px;
                    color: #666666;
                }

                &.list-oportunidade {
                    position: relative;
                    &::before {
                        line-height: inherit;
                        left: -18px; 
                        top: -8px;
                    }

                    a {
                        text-transform: uppercase;
                        text-align: center;
                        min-width: 130px;
                        border-radius: 40px;
                        padding: .275rem .75rem;
                        display: inline-block;
                        border: 1px solid transparent;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 14px;
                        margin: 8px 0 16px !important;
                        
                        color: #666666;
                        border-color: #666666;
                        &:hover {
                            text-decoration: none;
                            background-color: #666666;
                            color: white;
                        }

                    }
                    
                    @media (max-width: 768px) {
                        span {
                            display: block;
                            padding-top: 10px;
                            padding-bottom: 10px;
                        }
                        .btn {
                            margin-top: 0;
                            margin-bottom: 10px !important;
                        }
                    }
                }
            }
        }        
    }    
/* ----------------------------------------- Hentry */

/* Navbars */
/* ----------------------------------------- */
    .navbar--menu {
        li.current-menu-item > a {
            font-weight: 500;
            text-decoration: none;
        }
        a:hover {
            text-decoration: none;
            color: black;
        }
    }    
/* ----------------------------------------- Navbars */

/** Header **/
    .header {
        .navbar {
            justify-content: space-between;            

            &--logo {
                order: 2;
            }
            &--toggler {
                order: 1;
            }
            &--searchicon {
                order: 3;
            }

            &--navigation {
                &--back {
                    &:before {
                        @extend .icon-arrow-left;
                        display: block;
                        content: "";
                    }
                }
                &--close {
                    &:before {
                        @extend .icon-close;
                        display: block;
                        content: "";
                    }
                }
                &--current {
                    font-weight: 300;
                    text-transform: uppercase;                    
                    font-weight: light;
                    font-size: 20px;
                    color: #606060;
                }
            }
            
            &--menu {
                a {
                    font-weight: 300;
                    text-transform: uppercase;                    
                    font-size: 28px;
                    color: #606060;
                    text-align: center;
                    &[href="#"] {                        
                        &:hover {
                            color: #606060;
                            cursor: text;
                        }
                    }
                }
                > li {
                    margin-bottom: 40px;
                    &:first-of-type {
                        margin-top: 40px;
                    }
                    .search {
                        a {
                            cursor: pointer !important;
                        }
                    }
                }
            }
        }
        
    }
    
    body.home .menu-item-home {
        background-position: center top;
        &.ontop {
            background-position: center bottom;
        }
    }
    .menu-item-home {
        background-repeat: no-repeat;
        background-position: center center;
        transition: 300ms ease-in-out all;
        background-image: url('../images/bg-logo-header.png');
        border-left: #DDDDDD 1px solid;
        border-right: #DDDDDD 1px solid;
        a {
            color: transparent !important;
        }
        
    }
/** Header **/



/* Gallery */
/* ----------------------------------------- */
    .section {
        .gallery {
            text-align: center;
            margin-top: 48px;
            margin-bottom: 36px;
            figure {
                width: 180px;
                height: 60px;
                margin-bottom: 12px;
                margin-right: 12px;
                display: inline-block;
                img {
                    height: 100%;
                    object-fit: contain;
                }
                figcaption {
                    display: none;
                }
            }
        }
    }    
/* ----------------------------------------- Gallery */


/* Sections */
/* ----------------------------------------- */
    
    h2.section--subtitle { 
        line-height: 46px;
        font-size: 36px;
    }

    h3.section--subtitle { 
        font-size: 28px;
        max-width: 65%;
        @include media-breakpoint-up(lg) {
            font-size: 30px;
        }
    }

    .section {
        padding-top: 75px;
        padding-bottom: 75px;
        
        &--headline {
            font-weight: 500;
            font-size: 20px;
            line-height: 36px;
            margin-bottom: 0;
        }
        
        &--subtitle {
            max-width: 80%;
            font-weight: bold;
            margin: 0 auto 70px;            
            color: inherit;
            text-align: center;
            text-transform: uppercase;
            &.--archive {
                margin-bottom: 0;
            }
        }        

        &--description {
            @include h5();
            font-weight: 300;
            line-height: 36px;
            max-width: 960px;
            margin-left: auto;
            margin-right: auto;
            
        }
        .btn {
            margin-top: 55px;
            // margin-bottom: 45px;
        }

        &--newsletter {
            padding-top: 150px;
            padding-bottom: 90px;
            &--title {            
                @include h4();
                color: #FFFFFF;
                line-height: 36px;
                margin-bottom: 90px;
                font-weight: 500;
            }
            .wpcf7 {
                input {
                    &[type=submit] {
                        min-width: 135px;
                        display: inline-block;
                        margin: initial;
                        padding: 6px 35px;
                    }
                    &:not([type=submit]) {
                        width: 100%;
                        border-radius: 100px;
                        border: 0;
                    }
                }

                .wpcf7-not-valid-tip {
                    background: rgba(255,255,255,.8);
                    padding: 4px 10px;
                    border-radius: 10px;
                    margin: 5px;               
                }
                .wpcf7-response-output {
                    background: rgba(255,255,255,.8);
                }
            }

            #signup-wrapper {
                display: flex;
                flex-direction: column;
                max-width: 90%;
                margin: 0 auto;
                > * {
                    margin-bottom: 10px;
                }
            }

            .mc-field-group {
                margin-bottom: 33px;
                + .clear {
                    margin-top: 55px;                
                }
            }

            #mc_embed_signup div.mce_inline_error {
                font-size: 12px;
                font-weight: 300;
                background-color: rgba(255,0,0,.5);
                border-radius: 5px;
                margin: 5px;
            }
        }

        &--pageheader {
            min-height: 70vh;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            transition: 450ms ease all;            
            .section--subtitle {
                margin-bottom: 0 !important;
            }
            .section--description {
                margin-top: 35px;
            }
            .choices {
                max-width: 616px;
                margin: 0 auto 75px;
            }
        }
        
        &--blogheader {
            .section--description {                
                font-size: 18px;
                line-height: 28px;
                text-align: center;
            }
        }

        &--white {
            background-color: white;
            color: #666666;
            .btn {
                @extend .btn--dark;
            }
        }
        
        &--lightgray {
            background-color: #F3F3F3;
            color: #666666;
        }


        &--sobre {
            padding-top: 125px;
            padding-bottom: 145px;            
            
            p {
                font-weight: 300;
                font-size: 18px;
                color: #666666;
                line-height: 36px;

                + .section--subtitle.--archive {
                    margin-top: 90px;
                    margin-bottom: 0;
                }

            }                   

            
        }

        &--atencao {
            h4 {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                color: #666666;
                // line-height: 50px;
            }
            ul {
                li {                    
                    font-size: 15px;
                    line-height: 22px;
                    &:before {
                        line-height: 4px;
                    }
                }
            }
        }      
        
        &--oportunidades {            
            // border-top: 1px solid #979797;
            // border-bottom: 1px solid #979797;            
        }

        &--inclusoes {
            .condicoes {
                padding-top: 75px;
                padding-bottom: 75px;
            }
        }
        &--1400 {
            @media (min-width: 1460px) {
                .container {
                    max-width: 1400px;
                }
            }
        }
        &--leiamais, &--relatos {
            &:after {
                content: "";
                display: block;
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                right: calc(50% - 11px);
                bottom: 5px;
                @extend .icon-arrow-down-orange;
            }           
        }
        @include media-breakpoint-up(expand) {
            &--leiamais, &--relatos {
                &:after {
                    display: none;
                }
            }
            &--leiamais {
                .section--subtitle { 
                    margin-bottom: 0;
                    margin-top: 1rem;
                }
            }
            &--relatos, &--dicas {            
                border-top: 3px solid #B8B8B8;
            }
        }

        &--formulario {            
            .section--description {
                max-width: 100%;
            } 
        }

        &--mapa {
            padding: 0 !important;
            .g-maps {
                height: 600px;
            }
        }

        &--active {
            position: relative;
            z-index: 99;
        }

        &--destinosvisitados {
            background-color: #F2F2F2;
            h3 {
                margin-bottom: 50px;
            }
            .list--destinosvisitados {
                li {
                    display: inline-block;
                    text-transform: uppercase;
                    border-right: 2px solid #939393;
                    padding-right: 10px;
                    padding-left: 10px;
                    line-height: 15px;
                    margin-bottom: 6px;

                    &:last-of-type {
                        border-right: 0;

                    }
                }
            }
        }

        .col-lg-6 {
            + .col-lg-6 {
                margin-top: 75px;
            }
        }

    }   
    
    #section {
        // &--onde {
        //     .container {
        //         max-width: 100%;
        //     }
        // }

        &--porque {
            .container {
                max-width: 1580px;
            }
        }

        &--sobre {
            h1 {
                @include titleline($width: 200px);
            }
        }             

        &--depoimentos {
            color: #666666;

            @include media-breakpoint-down(sm) {
                .carousel {
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }

            .carousel {
                margin-top: 40px;
                font-weight: 500;
                @include slick--sameheight();
                &--item {
                    background: #939393;
                    color: white;
                    padding: 45px;
                    max-width: 100%;
                    img {
                        display: none;
                    }
                }
                &--description {
                    order: 1;
                    margin-bottom: 36px;                        
                    font-style: italic;
                    font-size: 16px;
                    line-height: 23px;
                    font-weight: 300;
                    position: relative;
                    z-index: 2;
                    padding-top: 38px;
                    padding-bottom: 38px;
                    
                    &:before, &:after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        @extend .icon-aspas;
                        filter: brightness(100);
                    }
                    &:before {
                        left: 0;
                        top: 0;
                    }                        
                    &:after {                            
                        transform: rotate(180deg);
                        bottom: 0;
                        right: -8px;
                    }

                }
                &--title {
                    order: 2;
                    font-size: 16px;
                    line-height: 22px;
                    position: relative;
                    z-index: 2;
                }

                figure {                    
                    @extend .figure--cover;
                    z-index: 0;
                    img {
                        display: block;
                        opacity: .3;
                    }
                    // &:before {
                    //     content: "";
                    //     @include el--mask();
                    //     z-index: 0;
                    // }
                }
            } // .carousel

            .btn {
                @extend .btn--dark;
                margin-bottom: 0;
            }
        } // section--depoimentos

    } 
/* ----------------------------------------- Sections */


/** Forms **/
    input {
        &:not([type="submit"]):not(.choices__input) {            
            border: 0;
            appearance: none;
            padding: 15px 0 15px 21px;
            border-radius: 100px;
            
            font-weight: 500;
            font-size: 18px;
            color: #666666;
            line-height: 28px;

            &::placeholder {
                color: #989898;
                // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
                font-style: italic;
                opacity: 1;
            }

        }        
    }        

    .choices {
        &__inner {
            background-color: white;
            min-height: 53px;
        }
        &[data-type*=select-one]:after {
            @extend .icon-icon-dropdown;
            border: 0;
            width: 13px;
            right: 20px;
        }
        &__item {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 18px;
            color: #666666;
            line-height: 28px;
            word-break: break-word;
            &[data-value=""] {                
                font-style: italic;                
                color: #B8B8B8;
            }

            &.choices__placeholder {
                color: #B8B8B8;
                opacity: 1;
                font-style: italic;
            }
        }
        &__list--multiple {
            .choices__item {
                &, &.is-highlighted {
                    background-color: #F5A623;
                    border: 0;
                    border-radius: 3px;                    
                }
            }
        }
        &__input {
            &[placeholder=Selecione] {
                background-color: transparent;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                width: 86px!important;
                margin-bottom: 0;                
                opacity: 1;
                font-style: italic;
                color: #B8B8B8;
                &::placeholder {
                    color: #B8B8B8;
                }
            }
        }
    }
/** Forms **/

/* FacetWP */
/* ----------------------------------------- */
    .facetwp {
        &-loading {
            display: block;
            margin: 0 auto;
        }
        &-counter {
            display: none;
        }
        &-type-autocomplete {

            input {
                &[type=search] {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;                    
                    vertical-align: middle;    
                    width: calc(100% - 42px);
                }
                &[type=button] {
                    display: none;           
                }                
            }
            .icon {
                width: 42px;
                height: 58px;
                border-top-right-radius: 100px;
                border-bottom-right-radius: 100px;
                background-color: white;
                vertical-align: middle;
                &:before {
                    content: "";
                    margin-top: 20px;
                    display: inline-block;
                    @extend .icon-search;
                }
            }
        } // &-type-autocomplete

    }    

    body {
        .autocomplete {            
            &-suggestions {                
                background: #FFFFFF;
                border: 1px solid #CACACA;
                box-shadow: none;
                padding: 15px;
                margin-left: 5px;
                margin-top: 3px;
                width: calc(100vw - 37px) !important;
                max-width: 608px !important;
            }
    
            &-suggestion {
                font-size: 18px;
                line-height: 24px;
                font-weight: 500;
                color: #C2C2C2;
                @include transition;
                strong {
                    font-weight: 500;
                    color: #666666;
                }                
                &:hover {
                    color: black;
                    strong { color: black; }
                    cursor: pointer;
                    background-color: transparent;
                }
            }        
    
        }
    }
    
/* ----------------------------------------- FacetWP */


/** Footer **/
    .footer {
        color: white;

        .container {
            font-weight: 300;
            line-height: 22px;
            max-width: 1120px;
            a {
                color: #DF8E09;                
            } 
            strong {
                font-weight: 700;
            }
        }
        
        .pp-bg-desktop {
            background-position: left center;
        }
        
        &--content {
            background-color: #666666;

            .col-12 {
                margin-top: 32px;
                &:first-of-type {
                    margin-top: 30px;
                }
                &:last-of-type {
                    margin-bottom: 48px;
                }
            }
        }
        &--copyright {
            background-color: #4A4A4A;
            padding-top: 8px;
            padding-bottom: 8px;
            font-weight: 500;
            font-size: 13px;
            p {
                margin: 0;
            }
        }

        &--social {
            
            border-bottom: 2px solid rgba(255,255,255,0.38);
            padding-bottom: 46px;
            margin-bottom: 14px;

            .social {

                &--title {                                        
                    font-family: 'Raleway', sans-serif;
                    font-weight: 700;
                    font-size: 30px;
                    margin-bottom: 22px;                     
                    margin-top: 25px;
                    color: white;
                }

                &--subtitle {
                    font-weight: 300;
                    font-size: 42px;
                    color: #FFFFFF;
                }
                &--tag {
                    font-weight: 500;
                    font-size: 18px;
                    color: #DF8E09;
                }

                &--list {
                    list-style: none;
                    text-align: center;
                    margin: 0 auto;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                    padding-top: 24px;
                    
                    li {
                        display: inline-block;
                    }
                }
            }
        }
    }
/** Footer **/


/** Home **/

    #featured--slider {
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 450ms ease-in-out all;

        &:after {
            content: "";
            background: rgba(78,78,78,0.50);
            @include parent--full;
        }
        .slick-list {
            z-index: 2;
        }
        .slide {
            
            &--container {
                padding: 125px 20px 95px;
                color: white;
            }

            &--title {
                @include h2();
                font-weight: bold;
            }

            &--description {
                font-weight: 300;
                line-height: 35px;
                // margin-top: 60px;
                margin-bottom: 60px;
                @include h4();
            }
        }

        @media (max-width: 768px) {

            &:after {
                background: rgba(78,78,78,0.7);
            }
            .slide {
                &--container {
                    padding: 65px 20px 0;
                    margin-bottom: 85px;
                }
                &--title {
                    font-size: 28px;
                }
                &--description {
                    line-height: 26px;
                    font-size: 20px;
                }
            }
        }
    }

    .home {

        .section {

            .carousel {
                margin-top: 100px;                
            }

            
        }               
    
        #section--porque, #section--oportunidades {
            &:after {
                content: "";
                background: rgba(78,78,78,0.50);
                @include parent--full;
            }
        }
    }

    
/** Home **/


/* Archives */
/* ----------------------------------------- */
    body.archive {
        header.header {
            + .section {
                padding-bottom: 120px;
                @include cover();
                                
                .section--description {                    
                    font-size: 18px;
                    line-height: 28px;                    
                }

                .facetwp-facet {
                    margin-bottom: 0;    
                }

                &--pageheader {
                    .container {
                        z-index: 2;
                    }
                }
            }
        }    

        &.post-type-archive-destinos {
            .section--pageheader {
                color: #666;

                .section--description {
                    margin-bottom: 120px;
                }
            }
        }
        .wrapper.container {
            max-width: 1900px;
        }
    }
/* ----------------------------------------- Archives */

/* FacetWP */
/* ----------------------------------------- */
    .facetwp {
        &-facet {
            // Esconde "filtro"
            #facetwp-map + div { display: none; }
            &.facetwp-type-map { margin-bottom: 0;}
        }
    }
/* ----------------------------------------- FacetWP */


/* Loop */
/* ----------------------------------------- */
    body {
        // &:after {
        //     height: 100vh;
        //     width: 103.16px;
        //     opacity: .5;
        //     position: fixed;
        //     left: calc(50% - 51.58px);
        //     z-index: 10000;
        //     background: red;
        //     top: 0;
        //     content: "";
        // }
        &:before {
            content: "";            
            @include transition();
            opacity: 0;
        }
        &.selecting {                        
            &:before {
                @include parent--full(fixed);            
                background: rgba(0,0,0,0.46);
                z-index: 4;
                opacity: 1;
            }
        }
    }
    .loop {
        &--navigation {
            text-align: center;
            // min-height: 175px;
            .btn {
                margin-top: 68px;
                margin-bottom: 68px;
            }
        }

        &--filters {
            padding-top: 50px;            
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;            
            min-height: 146px;
            opacity: 0;
            @include transition;
            &.active {
                opacity: 1;
                &--ready .facetwp-facet {
                    @include transition(750ms);
                }
            }
            .facetwp {
                // Default for all facets
                &-facet {
                    position: inherit;
                    z-index: 3;
                    width: 260px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: white;
                    padding: 21px 5px 5px;
                    text-align: center;
                    align-items: center;
                    cursor: pointer;
                    
                    &:hover {
                        background-color: rgba(255,255,255,0.85);
                    }
                    // Default for all facets
                    .filter {

                        &--title {
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 28px;
                            margin-bottom: 20px;
                            display: block;
                        }
        
                        &--selected {
                            opacity: 1;
                            &:before {
                                content: attr(data-text);
                                font-weight: 500;
                                font-size: 16px;
                                color: #DF8E09;
                                text-align: center;
                                transition: 450ms ease all;
                                opacity: 0;
                            }
                            &.showing:before {
                                opacity: 1;
                            }
                            &[data-text=""] {
                                .filter--selected--icon {
                                    display: inline-block;
                                }
                            }
                        }
        
                        &--actions {                    
                            height: 50px;
                            width: 50px;
                            position: relative;
                            display: flex;
                            align-items: center;
                        }
    
                        &--open {
                            display: block;
                            position: absolute;
                            left: 18px;
                        }
                        &--close {
                            position: absolute;
                            opacity: 0;
                            left: 5px;
                            z-index: -1;
                            display: block;
                            cursor: pointer;
                        }
        
                        &--content {
                            transition: all .65s ease;
                            opacity: 0;
                            height: 0;
                            overflow: hidden;
                        }
                        
                    }

                    &.expanded {
                        z-index: 5;
                        cursor: default;
                        &:hover {
                            background-color: white;
                        }
    
                        .filter {

                            &--content {
                                opacity: 1;
                            }

                            &--selected {
                                opacity: 0;
                            }
    
                            &--open {
                                opacity: 0;                            
                            }
    
                            &--close {
                                opacity: 1;
                                z-index: 2;
                            }
                        }
                        
                    } //  &-facet&.expanded

                } //  &-facet

                // Range Slider
                &-type-slider {
        
                    .filter {
                        &--content {
                            .facetwp {
                                &-slider {
                                    &-label {
                                        font-weight: 500;
                                        font-size: 24px;
                                        color: #F5A623;
                                        text-align: center;
                                        line-height: normal;
                                        margin-top: 10px;
                                        display: block;
                                    }
                                    &-caption {
                                        display: block;
                                        font-weight: 500;
                                        font-size: 16px;
                                        color: #666666;
                                        text-align: center;
                                        line-height: 22px;
                                         + div {
                                             display: none !important;
                                         }
                                    }
                                }
                            }
                            .facetwp-slider-wrap {
                                min-width: 190px;
                            }
                            .noUi {
                                &-connect {
                                    background-color: theme-color('primary');
                                }
                                &-connects {
                                    overflow: visible;
                                }
                                &-horizontal {                                    
                                    background-color: transparent;
                                }
                                &-base {
                                    height: 28px;
                                    background-color: #DDDDDD;
                                    border-radius: 14px;
                                    margin-top: 3px;
                                }
                                &-target {
                                    border-radius: 14px;
                                    box-shadow: none;
                                    border: 0;
                                    padding: 0 18px;                                    
                                }
                                &-handle {
                                    width: 34px;
                                    height: 34px;
                                    border-radius: 50%;
                                    top: -3px;
                                    box-shadow: none;
                                    background: #FFFFFF;
                                    border: 1px solid #939393;
                                    &:focus {
                                        outline: 0 !important;
                                    }
                                    &:before, &:after {
                                        display: none;
                                    }
                                }
                            }
                        }
                    } 

                    &.expanded {                        
                        .filter--content {
                            height: 105px;
                        }
                    }
                } // &-type-slider

                // Number Range
                &-type-number_range {
                    .facetwp-submit { display: none; }
                    &.expanded {
                        .filter--content {
                            height: 70px;                            
                        }
                    }
                }

                // Checkboxes
                &-type-checkboxes {

                    .checkbox {
                        &--wrapper {
                            display: flex;
                            flex-direction: column;
                            max-height: 100%;
                        }
                        &--up, &--down {
                            height: 25px;
                            flex-shrink: 0;
                        }
                        &--content {
                            width: 100%;
                            height: 100%;
                            overflow-y: scroll;
                            padding-left: 8.5px;
                            padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
                            box-sizing: content-box; /* So the width will be 100% + 17px */
                        }
                        &--up {
                            span {
                                transform: rotate(180deg);
                                position: relative;
                                left: 1px;
                            }
                        }                  
                    }
                    &.expanded {
                        .filter--content {
                            height: 200px;
                        }
                    }
                    .filter--content {
                        overflow: hidden;
                        min-width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-content: center;
                        flex-direction: column;

                        .facetwp-checkbox {
                            background: transparent;
                            padding: 0;
                            &:before {
                                content: "";
                                display: inline-block;
                                opacity: 0;
                                margin-right: 12px;
                                margin-left: -24px;
                                @extend .icon-checked;
                                @include transition;
                            }
                            &.checked {
                                color: #F5A623;
                                &:before { opacity: 1; }
                            }
                            &.disabled {
                                display: none;
                            }
                        }
                    }
                    
                    &.facetwp-facet-destinos_meses_recomendados, &.facetwp-facet-pacotes_meses_recomendados {
                        min-width: 260px !important;                        
                        &.expanded {
                            .filter--content {
                                height: 188px;
                            }
                        }
                        .filter--content {            
                            text-align: center;
                            justify-content: center;
                            flex-wrap: wrap;
                            overflow: hidden !important;       
                            flex-direction: initial;
                            .facetwp-checkbox {
                                @include transition();
                                padding: 0;
                                margin: 2px;
                                display: inline-block;
                                background: #F3F3F3;
                                width: 64px;
                                height: 43px;                       
                                font-weight: 500;
                                font-size: 16px;
                                color: #666666;
                                text-align: center;
                                line-height: 43px;
                                
                                &:before { display: none; }
    
                                &.checked {
                                    background: rgba(245,166,35,0.20);
                                    color: #F5A623;
                                }
                            }
                        }
    
                    } // &-destinos_meses_recomendados, &-pacotes_meses_recomendados {
                }


            } // .facetwp
        } // filters

        &--actions {
            position: relative;
            z-index: 2;

            &--clear, &--sort {
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 13px;
                font-weight: 500;
                color: theme-color('primary');
                span {
                    cursor: pointer;
                }             
            }

            &--clear {
                span {
                    display: inline-block;
                    &:hover { text-decoration: underline; }
                }
            }

            &--sort {
                flex-direction: row;
                display: flex;
                justify-content: center;
                > span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-left: 10px;
                    margin-right: 10px;
                    > span {
                        display: inline-block;
                        &[data-order=buscados] {
                            color: #B8B8B8;
                        }
                        &:hover {
                            &.icon-grid { @extend .icon-grid-on; }
                            &.icon-list { @extend .icon-list-on; }
                            &.icon-sort-a-off { @extend .icon-sort-a-on; }
                            &.icon-sort-z-off { @extend .icon-sort-z-on; }
                            
                        }
                    }
                }
            }
            
        }
    }    
/* ----------------------------------------- Loop */


/* Tease */
/* ----------------------------------------- */
    .tease {        
        background-color: #F2F2F2;        
        border-bottom: 2px solid #DDDDDD;
        
        a {
            padding: 38px;
            display: block;
            height: 100%;
            width: 100%;
            *:last-child {
                margin-bottom: 0 !important;
            }
        }
        &--title {                        
            font-weight: bold;
            font-size: 28px;
            color: #666666;
            margin: 0;
        }
        &--chamada {
            margin-top: 35px;
            font-size: 16px;
            color: #989898;
            line-height: 22px;
            flex-wrap: wrap;
        }

        figure {
            margin-top: -38px;
            margin-left: -38px;
            margin-right: -38px;
        }

        &--pacotes {
            .tease--chamada {
                font-weight: 500;
                font-size: 14px;
                color: #666666;
                line-height: 22px;
                align-content: center;
                > span {
                    margin-right: 9px;
                    margin-bottom: 18px;
                    display: flex;
                    align-content: center;
                    .d-inline-block {
                        flex-shrink: 0;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
/* ----------------------------------------- Tease */

/* Layouts */
/* ----------------------------------------- */
    body {
        
        .tease {
            figure, .tease--chamada {
                display: none;
            }
            &.tease--post .tease--chamada {
                display: block;
            }
        }

        &.layout {
            &--lista {
                .loop--actions--sort {
                    .icon-list { @extend .icon-list-on; }
                    .icon-grid { @extend .icon-grid-off; }
                }
            }
            &--grid {
                .loop--actions--sort {
                    .icon-list { @extend .icon-list-off; }
                    .icon-grid { @extend .icon-grid-on; }
                }
            }            
        }
        &[data-order=title_asc] .icon-sort-a-off { @extend .icon-sort-a-on; }
        &[data-order=title_desc] .icon-sort-z-off { @extend .icon-sort-z-on; }
        &[data-order=buscados] span[data-order=buscados] { color: #666666 }

        @include media-breakpoint-up(expand) {            

            &.layout {                
                
                &--lista {
                    .facetwp-template {
                        padding-bottom: 20px;
                    }
                    .tease {
                        margin: 0 15px 25px;
                    }
                }
    
                &--grid {
                    .tease {
                        margin: 0 15px 60px;
                                                
                        figure {
                            display: block;
                            margin-bottom: 20px;
                        }
                        &--chamada {
                            display: block;
                        }
                        &.tease--destinos {
                            .tease--chamada {
                                margin-top: 15px;
                            }
                        }
                        &.tease--pacotes {
                            .tease--chamada {
                                display: flex;
                            }
                        }
                    }
                }            
            }

        }        
    }
/* ----------------------------------------- Layouts */


/* Carousels */
/* ----------------------------------------- */
    
    .carousel {
        opacity: 0;
        
        &.slick-initialized, &--default {
            opacity: 1;
        }
        .slick-slide {
            &:hover, &:focus {
                outline: none;
            }
        }
    }
    @mixin carousel--default--arrows() {
        .slick-prev {
            @include icon-slick-prev-medium();            
        }
        
        .slick-next {
            @include icon-slick-next-medium();            
        }
    }

    .carousel--layout01 {
        @include carousel--description--on--hover;
        @include slick--sameheight();
        @include slick--fullwide();
        @include carousel--default--arrows();
        .slick-prev {
            left: -55px;
        }
        .slick-next {
            right: -55px;
        }

        .carousel {
            &--item {                
                text-align: center;
                color: #FFFFFF;
                // width: 357px;
                max-width: calc(100vw - 65px);
                margin-left: 8px;
                margin-right: 8px;  
                // @media (min-width: 730px) {
                //     width: 357px;
                //     .carousel--description {
                //         min-height: 201px;
                //     }
                // }
                // @media (min-width: 1440px) {
                //     width: 496px;
                //     .carousel--description {
                //         min-height: 277px;
                //     }
                // }
                p.carousel--title {
                    @include transition;
                    opacity: 1;
                }
                &:not(.slick-active) {
                    pointer-events: none;
                    p {
                        opacity: 0;
                    }
                }

                &:after {
                    content: "";                    
                    // @include el--fademask;
                    background: rgba(78,78,78,0.50);
                    z-index: -2;
                    @include hover--fadeout;
                    @include parent--full;
                }
                &:before {
                    content: "";                    
                    @include el--mask;
                    @include hover--fadein;
                }
                
                &:hover {
                    &:after {
                        opacity: 0;
                    }
                    &::before {
                        opacity: 1;
                    }
                }
            }

            &--title, &--description {
                @include align--center;
                margin: 0;
                padding: 15px;
            }
            &--title {
                font-family: 'Raleway';
                font-weight: bold;
                font-size: 28px;
                text-transform: uppercase;
            }
            &--description {
                min-height: 201px;
                font-weight: 500;
                font-size: 18px;
                color: #FFFFFF;                
                line-height: 28px;
            }
        }
    }    

    .carousel--layout02 {
        @include slick--sameheight();
        @include carousel--default--arrows();
        @media (max-width: 729px) {
            .slick-list {
                overflow: visible;        
            }
        }
        @media (min-width: 730px) {
            .slick-list {
                margin-left: 100px;
                margin-right: 100px;
            }
        }
        .carousel {
            
            &--item {        
                color: #666666;         
                background-color: white;               
                padding: 30px;        
                max-width: calc(100vw - 75px);
                width: 350px;
                margin-left: 15px;
                margin-right: 15px;
                span.btn {
                    font-weight: bold;
                    font-style: italic;
                    font-size: 16px;
                    color: #DF8E09;
                    padding: 0;
                    order: 10;
                    margin-bottom: 0;
                    text-transform: initial;
                    @include transition;
                    &:after {
                        content: "";
                        display: inline-block;
                        @extend .icon-more;
                    }
                }
                figure {
                    max-width: 84px;
                }
                &:hover {
                    span.btn {
                        padding-left: 5px;
                        color: #666666;
                    }
                }
            }            
            &--title {
                order: 2;
                @include h5;
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                margin: 1rem;
                line-height: 24px;
            }
            &--description {
                order: 3;
                line-height: 22px;
                font-weight: 300;
            }
            
            
        }
    }    

    .carousel--layout03 {
        @include slick--sameheight();
        @include carousel--default--arrows();
        @include slick--fullwide();    
        margin: 0 auto;     
        
        .slick-arrow {
            filter: brightness(0);
        }

        .carousel--item, .tease {
            text-align: left;            
            max-width: calc(100vw - 75px);
            @include transition;
            @include media-breakpoint-down(sm) {
                min-width: calc(100vw - 75px);
            }
            margin-right: 20px;
            margin-bottom: 0 !important;
            margin-top: 0 !important;
            border: 0;
            
            a {
                width: 100%;
                background: white;
                padding: 38px 30px;
                @include transition;
                opacity: 1;
            }

            &--chamada {
                display: flex !important;
                font-size: 15px;
            }
            figure {
                margin-bottom: 35px;
                display: block !important;
                margin-left: -30px;
                margin-right: -30px;
            }

            &:not(.slick-active) {
                background-color: #DDDDDD;
                a {
                    opacity: .2;
                }
            }
        }        
    }    

    .carousel--layout04 {
        @include carousel--description--on--hover;
        @include slick--sameheight();
        @include slick--fullwide();
        @include carousel--default--arrows();        
        
        &:not(.slick-slider) {
            display: flex;
            justify-content: center;
        }
        
        .tease {
            text-align: center;
            color: #FFFFFF;            
            margin-left: 10px;
            margin-right: 10px;
            margin-top: 0 !important;
            width: 496px;
            max-width: calc(100vw - 75px);
            border: 0;
            position: relative;
            z-index: 0;
            &:before {
                content: "";                    
                @include el--mask(rgba(135,135,135,0.79));
            }
            &--title, &--chamada {
                margin: 0;
                @include align--center;
                @include transition;
                padding: 15px;
                color: white;
                opacity: 0;
                width: 100%;
            }
            &--title {
                font-size: 20px;
                line-height: 29px;
                opacity: 1;
            }
            &--chamada {
                @include parent--full;                
                &:before {
                    content: "";
                    width: 60%;
                    display: block;
                    height: 1px;
                    background-color: white;
                    margin: 10px auto;
                }
            }
            &--headline {
                font-weight: 500;
                font-size: 15px;
                color: #FFFFFF;
                text-align: center;
                line-height: 22px;
            }
            a {
                padding: 0 !important;
                position: relative;
                min-height: 277px;
                display: flex;
                color: white;

                &:hover {
                    .tease {
                        &--title {
                            opacity: 0;
                        }
                        &--chamada {
                            opacity: 1;
                        }
                    }
                }
            }
            figure {
                display: block;
                margin: 0 !important;
                z-index: -3;
                @include parent--full;     
            }

            &.count--1 {
                opacity: 1;
            }

        }  
        
        &.carousel--layout04-b {

            &.count--1 {
                opacity: 1;
            }

            .tease {          
                // figure {
                //     overflow: hidden;
                //     img {
                //         filter: blur(2px);
                //     }
                // }      
                &--title {
                    font-size: 15px;
                    line-height: normal;
                    padding: 75px 10px;
                    position: relative;
                    margin-top: auto;
                    margin-bottom: auto;
                    
                    @include media-breakpoint-up(expand) {
                        font-size: 16px;
                        line-height: 26px;
                        padding: 75px;
                    }
                    &:before, &:after {
                        content: "";
                        display: inline-block;
                        position: absolute;
                        @extend .icon-aspas;
                        filter: brightness(100);
                    }
                    &:before {
                        left: 35px;
                        top: 35px;
                    }                        
                    &:after {                            
                        transform: rotate(180deg);
                        bottom: 35px;
                        right: 35px;
                    }
                }
                &--chamada {
                    font-size: 18px;
                    font-weight: 500;        
                    flex-direction: row;
                    i { margin-left: 12px;}
                    &:before {  display: none; }
                }   
                
                &:hover {
                    &:before {
                        background: rgba(135,135,135,0.8);
                    }
                }
            }
        }
    }    

    .carousel--layout05 {
        @include slick--sameheight();
        @include carousel--default--arrows();
        @media (max-width: 729px) {
            .slick-list {
                overflow: visible;        
            }
        }        
        .slick-prev { left: -25px; }
        .slick-next { right: -25px; }

        @media (min-width: 1171px) {
            .slick-prev { left: -55px; }
            .slick-next { right: -55px; }
        }

        .carousel {
            &--item {
                background-color: white;
                padding: 45px 30px;
                color: #666666;    
                text-align: left; 
                width: 400px;
                max-width: calc(100vw - 75px);
                margin-left: 15px;
                margin-right: 15px;
                
                > span {
                    font-weight: bold;
                    font-style: italic;
                    font-size: 16px;
                    color: #DF8E09;
                    margin-top: auto;
                }

            }
            &--headline {
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 5px;
            }
            &--title {                
                font-size: 14px;             
                line-height: 18px;
                font-weight: 500;
            }   
            &--description {
                font-weight: 300;
                font-size: 15px;
                line-height: 22px;
            }            
        }
    }

    .carousel--layout06 {
        @include slick--sameheight();
        @include carousel--default--arrows();
        .slick-list {
            overflow: visible;        
        }
        .slick-arrow {
            filter: brightness(0);
        }
        .slick-prev {
            left: -35px;
        }
        .slick-next {
            right: -14px;
        }

        .carousel {
            &--item {
                background-color: white;
                padding: 35px 35px 75px 35px;
                text-align: left;            
                max-width: calc(100vw - 75px);
                margin-right: 20px;
                margin-bottom: 0 !important;
                @include transition;
                opacity: 1;
                    
                figure {
                    order: -1;
                    margin-bottom: 35px;
                    display: block !important;
                    margin-left: -35px;
                    margin-right: -35px;
                    margin-top: -35px;
                }
                
                &:not(.slick-active) {
                    opacity: .4;
                }
            }

            &--title {
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                font-size: 30px;
                color: #666666;
            }
            &--subtitle {
                margin-top: -15px;
            }
            &--subtitle, &--description {
                font-weight: 500;
                line-height: 22px;
            }

            &--chamada {
                display: flex !important;
                font-size: 15px;
            }

        }        

    }    


    .carousel--gallery {
        @include slick--fullwide();
        @include carousel--default--arrows();

        .slick {
            &-arrow {                
                &:hover {
                    opacity: .7;
                }
            }
            &-prev {
                left: -60px;
            }
            &-next {
                right: -60px;
            }
        }

        .carousel--item {
            margin-right: 10px;
            margin-left: 10px;
            max-width: calc(100vw - 50px);

            .figure {
                max-width: 1200px;
                img {
                    width: 100%;
                    max-width: 1200px;
                    object-fit: contain;
                    object-position: center center;
                }
                
                &--credits {
                    display: block;
                    font-size: 14px;
                    font-weight: 500;
                    font-style: italic;
                    color: #FFFFFF;
                    text-align: right;
                    margin: 5px 0;
                }
                &--description {
                    display: block;
                    font-weight: 300;
                    font-size: 16px;
                    text-align: center;
                    line-height: 28px;
                    margin: 25px auto;
                }                
            }            
        }
        @include media-breakpoint-up(md) {
            max-width: calc(100vw - 240px);
            .carousel--item {
                max-width: calc(100vw - 240px);
                margin-right: 60px;
                margin-left: 60px;
            }
        }
        @include media-breakpoint-up(expand) {
            max-width: calc(994px - 120px);
            .carousel--item {
                max-width: calc(994px - 120px);
            }
        }
        @include media-breakpoint-up(lg) {               
            max-width: 1200px;

            .carousel--item {
                max-width: 1200px;             

                .figure {
                    
                    &--description {
                        margin-left: 10%;
                        margin-right: 10%;
                    }
                }
            }
        }
    }  

/* ----------------------------------------- Carousels */

/* Tables */
/* ----------------------------------------- */
    
    .priceselector--wrapper {
        min-width: 216px;
        margin-top: 1rem;
        display: inline-flex;
        > .choices {
            width: 100%;
            line-height: 35px;
            position: relative;
            top: -5px;        
        }

        .choices__inner {
            // border-radius: 24px;
            min-height: 0;
            padding: 0 16px !important;
            .choices__list {
                &--single {
                    padding: 6 0 0 0 !important;
                }
            }
        }
        // Remove o itemSelectText
        .choices > .choices__list > .choices__list > .choices__item--selectable { padding-right: 0px; }
        .choices > .choices__list > .choices__list > .choices__item--selectable::after { display: none; }

    }
    .table {
        display: grid;
        grid-gap: 0px;
		grid-template-columns: repeat(3, [col] fr ) ;
        grid-template-rows: auto;        
        border-left: 1px solid #DDDDDD;        
        border-top: 1px solid #DDDDDD;        
        font-size: 15px;
        color: #666666;
        line-height: 22px;
        &--header {
            font-weight: bold;
            border-bottom: 1px solid #DDDDDD;
            border-right: 1px solid #DDDDDD;
            &:nth-of-type(1) { grid-column: 1; }
            &:nth-of-type(2) { grid-column: 2; }
            &:nth-of-type(3) { grid-column: 3; }
            &:last-of-type { border-right: 0; }
        }
        &--composicao, &--valor {
            line-height: 20px;
        }
        &-valor {
            > span {
                opacity: 0;
                > span {
                    display: inline-block;
                }
            }
        }
        div {
            border-bottom: 1px solid #DDDDDD;
            border-right: 1px solid #DDDDDD;
            padding: 15px;
            align-items: center;
            display: flex;        
        }
    }    
/* ----------------------------------------- Tables */

/* Quem Somos */
/* ----------------------------------------- */
    .carousel--items {        
        display: grid;
        grid-gap: 30px;        
        .carousel {
            &--item {
                background-color: white;
                padding: 35px;
                text-align: left;
            }
        }

    }
/* ----------------------------------------- Quem Somos */

/* Blog */
/* ----------------------------------------- */
    .navbar {
        &--blog {
            background: #F3F3F3;
            li {
                border: 1px solid #DDDDDD;
            }
            a {
                padding-left: 40px;
                text-transform: uppercase;
                padding-right: 40px;
                font-weight: 300;
                font-size: 18px;
                color: #606060;
                display: block;
                line-height: 84px;
                @include transition;
                // &:hover {
                //     color: theme-color('primary');
                //     text-decoration: none;
                // }
            }
        }
        &--menu {
            width: 100%;
        }
    }

    #breadcrumbs {
        font-weight: 500;
        font-size: 16px;
        color: #666666;
        &--box {
            background-color: #FBFBFB;
        }
        .icon-breadcrumb {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
    
    body.blog, body.category, body.tag {
        .section--pageheader {
            color: white;
        }
    }
    body.search-results {
        .facetwp-template {
            .tease {
                &--title {
                    &:before {
                        content: "#" attr(data-type);
                        text-transform: lowercase;
                        color: #DF8E09;
                        font-size: 1rem;
                        display: block;
                        // font-weight: 300;
                        // font-family: 'Roboto', sans-serif;
                        
                    }
                }
                &--chamada {
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }
    body.blog, body.category, body.tag, body.search-results {

        .loop {
            &--filters {
                margin-top: 0;
                &--search {
                    padding-top: 90px;
                    padding-left: 20px;
                    padding-right: 20px;
                    max-width: 800px;
                    margin-left: auto;                    
                    margin-right: auto;
                    position: relative;
                    z-index: 4;            
                }
            }
        }        
        .tease--post {
            a {
                padding-top: 35px;
                padding-bottom: 35px;
            }
            .tease {
                &--title {                    
                    font-size: 21px;
                    line-height: 26px;
                    text-transform: uppercase;
                }
                &--chamada {
                    font-weight: 500;
                    font-size: 18px;
                    color: #666666;
                    line-height: 28px;

                    @media screen and (max-width: 768px) {
                        margin-top: 10px;
                        font-weight: 300;
                    }
                }
                &--headline {
                    display: block;
                    font-size: 17px;
                    line-height: 36px;
                    text-transform: none;
                }
            }
        }
    }

    body.search-results .loop--filters {
        margin-top: 80px;
    }

    #veja-mais-blog {
        background-color: #CACACA;
        padding-top: 150px;
        padding-bottom: 150px;
        .container {
            padding-left: 10px;
            padding-right: 10px;
        }
        .carousel {
            &--default {
                display: flex;
                // justify-content: center;
                flex-wrap: wrap;
            }
            &--item {
                display: inline-block;
                text-align: center;
                background-color: white;
                padding: 20px 25px;
                font-weight: 500;
                font-size: 16px;
                color: #DF8E09;
                border: 1px solid #DDDDDD;
                margin: 10px auto 0;
                max-width: 190px;
                width: calc(50% - 10px);             

            }
            figure {
                order: -1;
                margin-bottom: 15px;
                @include transition;
            }
            span {
                display: none;
            }
            a {                
                &:hover {
                    figure {
                        transform: translateY(10px);
                    }
                }
            }
        }
    }

    body.category {
        .navbar.navbar--blog {
            border: 1px solid #DDDDDD;
        }
    }
/* ----------------------------------------- Blog */


/* Singles */
/* ----------------------------------------- */
    body.single-pacotes {

        .section {
            &--pageheader {
                flex-direction: column;

                .section--subtitle {
                    color: white;
                }
    
                .tease--chamada--icons {
                    background: #F3F3F3;
                    padding: 25px 45px;
                    border-radius: 50px;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 0;
                    margin-top: 60px;
                    > span {
                        display: flex;
                        margin: 10px 0;
                        color: #666666;
                        font-weight: 500;
                        span:first-of-type {
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
        
    }
/* ----------------------------------------- Singles */

/* 404 */
/* ----------------------------------------- */
    body.error404 {
        #content {
            background: url('../images/content/bg-destinos-header.jpg') no-repeat right center;
            background-size: cover;
            &:before {
                content: "";
                @include parent--full;
                background-color: rgba(255,255,255,0.30);            
            }
            .wrapper {
                position: relative;
                z-index: 2;
            }
            p {
                font-weight: bold;
                font-size: 44px;
                line-height: 50px;
                @include media-breakpoint-up(xl) {	
                    font-size: 86px;
                    line-height: normal;
                }
            }
            h1 {
                font-weight: 500;
                font-size: 24px;
                line-height: 50px;
            }
            .btn {
                margin-bottom: 0;
            }
        }
    }
/* ----------------------------------------- 404 */

/* Consultoria */
/* ----------------------------------------- */
    .passos {
        &--item {
            padding-top: 100px;
            padding-bottom: 100px;
            background-color: #F3F3F3;
            &:nth-of-type(2n) {
                background-color: white;
            }
        }
        &--header {
            text-align: center;
        }
        &--headline {
            font-weight: 500;
            font-size: 20px;
            color: #F5A623;
            text-align: center;
            line-height: 36px;
        }
        &--title {
            font-weight: bold;
            font-family: 'Raleway', sans-serif;
            font-size: 36px;
            color: #666666;
            text-align: center;
            line-height: 46px;
        }
        &--imagem {
            max-width: 50%;
            margin: 30px auto;
            display: block;            
        }
        &--content {
            font-weight: 500;
            font-size: 20px;
            color: #666666;
            line-height: 36px;
            padding-right: 50px;
            padding-left: 50px;
            ul {
                li {
                    padding-left: 38px;
                    min-height: 48px;
                    margin-bottom: 6px;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 5px;
                        @extend .icon-list-arrow;

                    }
                }
            }
        }
    }
/* ----------------------------------------- Consultoria */

/* Formulários */
/* ----------------------------------------- */
    
    label {
        input {
            &[type=radio] {
                position: absolute;
                + span {
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    &:before, &:after {
                        @include transition;
                    }
                    &::before {
                        content: "";
                        width: 28px;
                        height: 28px;
                        margin-right: 6px;
                        flex-shrink: 0;
                        display: inline-block;
                        border: 1px solid #CACACA;
                        background-color: white;
                        border-radius: 50%;
                    }
                    &::after {
                        content: "";
                        background-color: white;
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        left: 10px;
                        transform: scale(0);
                    }
                }
            }
        }
        &:hover input[type=radio] + span, input[type=radio]:checked + span {
            &:before {                
                background: #DF8E09;
                border: 1px solid #F5A623;
            }
            &:after {
                transform: scale(1);
            }
        }


        /* Checkbox */
        /* ----------------------------------------- */
        input {
            &[type=checkbox] {
                position: absolute;
                + span {
                    display: flex;
                    align-items: center;
                    position: relative;
                    cursor: pointer;
                    &:before, &:after {
                        @include transition;
                    }
                    &::before {
                        content: "";
                        width: 28px;
                        height: 28px;
                        margin-right: 15px;
                        flex-shrink: 0;
                        display: inline-block;
                        border: 1px solid #CACACA;
                        background-color: white;
                    }
                    &::after {
                        content: "L";
                        color: white;
                        position: absolute;     
                        left: 10px;                    
                        transform: scale(0) rotate(0deg);
                    }
                }
            }
        }
        &:hover input[type=checkbox] + span, input[type=checkbox]:checked + span {
            &:before {                
                background: #DF8E09;
                border: 1px solid #F5A623;
            }
            &:after {
                transform: scaleX(-1) rotate(-44deg);
            }
        }    
        /* ----------------------------------------- Checkbox */
        
    }

    .wpcf7 {
        &-form-control-wrap {
            display: block;

            &.qtd-adultos, &.qtd-criancas {
                display: flex;
                input {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
        &-form-control {
            width: 100%;
            &.wpcf7-submit {
                max-width: 244px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding-top: 16px;
                padding-bottom: 16px;
            }
        }
        &-radio {
            .wpcf7-list-item {
                margin-top: 0.5rem;
                &.first {
                    margin-left: 0;
                }
            }
        }
        &-checkbox {
            .wpcf7-list-item {
                margin-left: 0;
                display: block;
            } 
        }
        .label-center {
            width: 95px;
            padding-bottom: 6px;
            text-align: center;
        }
        .label, label {
            font-weight: 500;
            font-size: 15px;
            color: #666666;
            line-height: 22px;
        }
        h3 + p > span { font-size: 13px !important;}
        .valor-esperado {
            position: relative;
            &:before {
                content: "R$";
                position: absolute;
                font-weight: 500;
                font-size: 24px;
                color: #C2C2C2;
                line-height: 49px;
                padding-left: 14px;
            }
            input {
                padding-left: 70px;
                text-align: right;            
            }
        }        

        h3 {
            margin-bottom: 0;
            +.label {
                display: block;
                margin-bottom: 50px;
            }
            &.space {
                margin-top: 150px;
            }
        }

        [class^="col-"] {
            margin-bottom: 2rem;
        }
        input.wpcf7-text, textarea.wpcf7-textarea {            
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            border-radius: 2px;
            font-weight: 500;
            font-size: 18px;
            color: #666666;
            line-height: 28px;
            padding: 10px 20px;
        }
        textarea.wpcf7-textarea {
            padding: 20px;
            &::placeholder {
                font-style: italic;
                color: #B8B8B8;
                font-size: 18px;
                line-height: 28px;
            }
        }
    }

    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none !important; 
        margin: 0 ; 
    }

/* ----------------------------------------- Formulários */

/* Single Posts */
/* ----------------------------------------- */
    body.single-post {

        #content, #breadcrumbs--box {
            background-color: #F3F3F3;
        }
        #content {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .title--post {            
            font-size: 44px;
            color: #666666;
            line-height: 50px;
            margin-bottom: 1.5em;
        }
        .figure--thumbnail {
            margin-bottom: 35px;
            @include media-breakpoint-down(sm) {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
        h1,h2,h3,h4,h5,h6 {
            font-weight: bold;
            margin-bottom: 1em;
        }
        h2 {
            font-size: 36px;
            line-height: 46px;
        }
        .hentry {            
            p {
                font-weight: 300;
                font-size: 18px;
                color: #666666;
                line-height: 28px;
                margin-bottom: 1.5em;
            }
            strong {
                font-weight: 700;
            }
        }

        .gallery {
            margin-left: -15px;
            margin-right: -15px;
            figure {
                max-width: calc(100vw - 75px);
                margin-right: 20px;
                figcaption {
                    display: none;
                }
            }
        }

        .sidebar {
            .wrapper {
                margin-top: 80px;
                padding-top: 1px;
                padding-bottom: 1px;
                background: white;
                @include media-breakpoint-down(sm) {
                    margin-left: -15px;
                    margin-right: -15px;
                }

                .sidebar {
                    max-width: 305px;
                    margin: 80px auto;
                }

                > p.h3 {
                    margin-bottom: 25px;
                }

            }

            .tease {
                margin-bottom: 20px;
                border-bottom: 0;

                &--destinos {
                    .tease--chamada {
                        display: none;
                    }
                }

                .figure--thumbnail {
                    display: block;
                    margin-top: -30px;
                    margin-left: -30px;
                    margin-right: -30px;
                    margin-bottom: 15px;
                }
                .tease--title {                        
                    font-size: 20px;
                    line-height: normal;
                    margin-bottom: 0;
                }

                a {
                    padding: 30px;
                    padding-bottom: 15px;
                }

                &--post {
                    .tease--chamada {
                        margin-top: 15px;
                    }
                }

            }

            &--pacotes {
                .tease {
                    a {
                        padding-bottom: 25px;
                    }
                    &--chamada {
                        display: block;
                        margin-top: 16px;
                    }
                    .figure--thumbnail {
                        margin-bottom: 25px;
                    }
                }
            } // &--pacotes

            &--lastposts, &--relacionados {
                .tease {
                    &--headline, &--chamada {
                        display: none;
                    }
                }
            }
        }
    }
/* ----------------------------------------- Single Posts */

/* Maps */
/* ----------------------------------------- */
    .infomaps {
        display: flex;
        padding-top: 4px;
        padding-bottom: 4px;
        &--image {
            flex-shrink: 0;
            margin-right: 1rem;
        }
        &--infos {
            max-width: 130px;
            p.title {
                font-weight: bold;            
                font-size: 12px;
                color: #666666;
                text-align: left;
            }
            a {
                font-weight: 500;
                font-size: 13px;
                color: #DF8E09;
            }
        }
    }
/* ----------------------------------------- Maps */

/* Modelo Padrão */
/* ----------------------------------------- */
    // body.page-template-default {
    //     .hentry {
    //         p {
    //             font-weight: 500;
    //         }
    //     }
    // }
/* ----------------------------------------- Modelo Padrão */

/* List Items */
/* ----------------------------------------- */
    select {
        opacity: 0;
    }
    .list-items {
        margin: 20px auto;
        text-align: left;
        .choices {
            &:after {
                @extend .icon-search;
                width: 18px !important;
                margin-top: -8px !important;
            }
            &__inner {
                border-radius: 100px;
                border-color: white;
                padding-left: 20px;
            }                        
        }
        .choices__item.choices__item--selectable.choices__placeholder {
            color: #989898;
            opacity: 1;
            font-weight: 300;
            font-style: italic;
            // font-size: 20px;        
        }
        .choices__list--dropdown  {
            border: 0;
            border-radius: 22px;
            margin-top: 1px;            
            box-shadow: -1px 9px 5px -6px rgba(214,207,214,1);
            > .choices__input, .choices__list .choices__item {
                padding-left: 20px;
                padding-right: 20px;
                word-break: break-word;
                font-size: 14px;
                line-break: normal;
                @include media-breakpoint-up(md) {        
                    padding-right: 140px;
                    font-size: 18px;
                    font-weight: normal;
                }
            }
            .choices__placeholder {
                display: none;
            }
            .choices__item {
                font-size: 18px;
            }
        }
    }
/* ----------------------------------------- List Items */

/* Search */
/* ----------------------------------------- */
    .search-wrapper {        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        &#search-wrapper-modal {
            position: fixed;
            top: 0;
            left: 0;
            min-height: 100vh;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            max-width: 100vw;
            background: rgba(221,221,221,0.95);
            z-index: -5;
        }   
        
        form {
            background-color: white;
            display: flex;
            align-items: center;
            padding: 6px 20px;
            border-radius: 24px;
            width: 80%;
            position: relative;
            input {
                padding: 0;
                background-color: transparent;
                &[type=text] {
                    font-size: 12px;
                    width: 100%;
                    padding: 0 0 0 4px;
                    font-weight: 300;
                }
                
                &[type=submit] {
                    color: transparent;
                    border: 0;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .js-close-search {
                position: absolute;
                right: 0;
                top: -100px;
                transform: scale(.5);
            }
        }
    }    

    body.search-no-results {
        .section--pageheader {
            .search-wrapper {                
                margin-top: 2rem;
                form {
                    border: 1px solid #CACACA;
                }
            }
        }
    }
/* ----------------------------------------- Search */


/* Testes */
/* ----------------------------------------- */
    // body {
    //     &:after {
    //         content: "";
    //         position: fixed;
    //         display: block;
    //         top: 0;
    //         bottom: 0;
    //         left: calc(50% - 51.5px);
    //         width: 103px;
    //         height: 100vh;
    //         background-color: red;
    //     }
    // }
/* ----------------------------------------- Testes */

.count--1 {
    opacity: 1;
    > * {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .tease a {
        opacity: 1 !important;
    }

    &.carousel--layout03 article {
        max-width: 420px;
    }
}


.periodo-viagem {
    display: flex;

    .ask-wrapper {
        margin-right: 40px;
    }
}

.container-form {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.my-alert {
    color: red;
    font-style: italic;
}

.columns-2 .diferenciais {
    column-count: 2;
}