@include media-breakpoint-up(md) {		
    
    /* Home */
    /* ----------------------------------------- */
        .home {
            #content {
                .section {
                    background-attachment: fixed;
                }
            }
        }            
    /* ----------------------------------------- Home */ 
    
    /* Blog */
    /* ----------------------------------------- */
    body.blog, body.category, body.tag {            
        .facetwp-template {
            margin-top: -10px;
            max-width: 720px;
            margin: 0 auto;
            .tease {
                background-color: #F2F2F2;
                border-bottom: 2px solid #DDDDDD;
                width: 100%;
            }
        }    
    }
    /* ----------------------------------------- Blog */
    
    /* Slides */
    /* ----------------------------------------- */
        
        #featured--slider {

            .slide {

                &--container {
                    min-height: calc(100vh - 80px);
                }

                &--title {                                       
                    font-size: 52px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }

                &--description {
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }

            }

            .slick-prev {
                @include icon-slick-prev();
            }
            
            .slick-next {
                @include icon-slick-next();
            }

            
        }

    /* ----------------------------------------- Slides */
    

    /* Loop */
    /* ----------------------------------------- */
        
        .facetwp-template {  
            display: flex;
            justify-content: center;
            flex-wrap: wrap;            
            // padding-bottom: 75px;
            .tease {                
                border: 0;
                width: 370px;
            }
        }
        .layout--grid {
            .facetwp-template {
                padding-top: 10px;
                // margin-bottom: -60px;
            }
        }
        
    /* ----------------------------------------- Loop */    
        
    /* Archives */
    /* ----------------------------------------- */
        body.archive {
            header.header {
                + .section {
                    .facetwp-type-autocomplete {
                        max-width: 616px;
                        margin: 0 auto 75px;
                    }
                }
            }
        }    
    /* ----------------------------------------- Archives */
    
    /* Quem Somos */
    /* ----------------------------------------- */
        .carousel--items {
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        }
    /* ----------------------------------------- Quem Somos */
        
    /* Search Results */
    /* ----------------------------------------- */
        body {
            &.search {
                &-results {
                    .section--pageheader {
                        min-height: auto;
                    }            
                    .facetwp-template {
                        margin-top: 75px;
                    }
                }
            }
        }    
    /* ----------------------------------------- Search Results */

    /* Carousel */
    /* ----------------------------------------- */        

        .carousel--layout03, .carousel--layout06, .carousel--layout04 {
            .slick-slide {
                opacity: 1;
                &:not(.slick-active) {
                    pointer-events: none;
                    .tease--title, .tease--chamada {
                        opacity: 0;
                    }
                }
            }
        }
    /* ----------------------------------------- Carousel */
    
    
    /* Pacotes */
    /* ----------------------------------------- */
        .priceselector--wrapper {
            margin-left: 10px;
        }
    /* ----------------------------------------- Pacotes */
    
}

