{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block beforeContent %}
  {% 
    include 'partial/section.twig' with {
        'data': fn( 'get_field', 'header_destinos', 'option' ),
        'tagTitle': 'h1',
        'hasContainer' : true ,
        'class': { 'container': 'section--pageheader' },
        'imports': [          
          { 'tpl': 'parts/list_items', 'post_type': 'destinos', 'placeholder': 'Digite o destino que você procura' }
        ]
    } 
  %}

  <div class="loop loop--filters">      
      {% 
        set forms = [
          { 'tpl': 'forms/busca', 'facet': 'destinos_meses_recomendados' },
          { 'tpl': 'forms/busca', 'facet': 'destinos_idade_minima' },
          { 'tpl': 'forms/busca', 'facet': 'destinos_estilo_da_viagem' },
        ]
      %}

      {% for data in forms  %}
        {% include data.tpl ~'.twig' with { 'imports': data } %}  
      {% endfor %}
  </div>

  <div class="loop loop--actions">
    
    <div class="loop--actions--clear text-center">
      <span onclick="FWP.reset()">Limpar filtros</span>
    </div>
    
    {% include 'parts/loop-actions.twig' %}
  </div>

{% endblock %}

{% block afterContent %}
  {% include 'forms/busca.twig' with { 'data': { 'facet': 'mapa' } } %}
  {% 
    include 'partial/section.twig' with {
        'data': fn( 'get_field', 'conteudo_destinos', 'option' ),
        'tagTitle': 'h2',
        'hasContainer' : true ,        
    } 
  %}
{% endblock %}