{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}
{% set acfSlug = object.taxonomy ~ '_' ~ object.term_id %}
{% set tituloDestaques = fn( 'get_field', 'titulo_destaques', acfSlug ) %}
{% block beforeContent %}  
  {# {{ fn( 'pp_debug', fn( 'get_field', 'header_pacotes', 'option' ), true ) }} #}
  {# {{ fn( 'pp_debug', object, false ) }} #}
  {% 
    include 'partial/section.twig' with {
        'data': {
          'titulo' : object.name,          
          'bg_desktop' : fn( 'get_field', 'bg_desktop', acfSlug ),
          'mask' : true,
        },
        'class': { 'container': 'section--pageheader text-white' },
        'tagTitle': 'h1',
        'hasContainer' : true ,
        
    } 
  %}
  <div class="section section--sobre section--lightgray">
      <div class="container">
          {{ fn( 'apply_filters', 'the_content', object.description )  }}
          {{ not tituloDestaques ? false : '<h2 class="section--subtitle --archive">'~ tituloDestaques ~'</h2>' }}   
      </div>
  </div>
  
  <div class="loop loop--filters">
      {% if fn( 'is_tax', 'faixaetaria' ) or fn( 'is_tax', 'tipos_destinos' ) %}
        
        {% 
          set forms = [
            { 'tpl': 'forms/busca', 'facet': 'destinos_idade_minima' },          
            { 'tpl': 'forms/busca', 'facet': 'destinos_meses_recomendados' },
            { 'tpl': 'forms/busca', 'facet': 'destinos_estilo_da_viagem' },
          ]
        %}

      {% elseif fn( 'is_tax', 'estilo' ) %}

        {% 
          set forms = [
            { 'tpl': 'forms/busca', 'facet': 'destinos_idade_minima' },          
            { 'tpl': 'forms/busca', 'facet': 'destinos_meses_recomendados' }
          ]
        %}
              
      {% elseif fn( 'is_tax', 'epocas' ) %}

        {% 
          set forms = [
            { 'tpl': 'forms/busca', 'facet': 'destinos_idade_minima' },          
            { 'tpl': 'forms/busca', 'facet': 'destinos_estilo_da_viagem' }
          ]
        %}
                
      {% elseif fn( 'is_tax', 'tipos_pacotes' ) %}

        {% 
          set forms = [
            { 'tpl': 'forms/busca', 'facet': 'pacotes_meses_recomendados' },
            { 'tpl': 'forms/busca', 'facet': 'pacotes_dias_de_viagem' },
            { 'tpl': 'forms/busca', 'facet': 'pacotes_estilo_da_viagem' },
            { 'tpl': 'forms/busca', 'facet': 'pacotes_idade_mimima' },
            { 'tpl': 'forms/busca', 'facet': 'pacotes_diferenciais' },
          ]
        %}

      {% endif %}
      

      {% for data in forms  %}
        {% include data.tpl ~'.twig' with { 'imports': data } %}  
      {% endfor %}
  </div>

  <div class="loop loop--actions">
    
    <div class="loop--actions--clear text-center">
      <span onclick="FWP.reset()">Limpar filtros</span>
    </div>    
    {% include 'parts/loop-actions.twig' %}         
  </div>

{% endblock %}

{% block afterContent %}  

  {% if fn( 'is_tax', 'faixaetaria' ) or fn( 'is_tax', 'estilo' ) or fn( 'is_tax', 'epocas' ) or fn( 'is_tax', 'tipos_destinos' ) or fn( 'is_tax', 'tipos_pacotes' ) %}
    
    {# {{ fn( 'pp_debug', term, true ) }} #}
    {# {{ fn( 'pp_debug', queried_object, true ) }} #}
    {% if relatos[0] or dicas[0] %}
          
      {%                
          include 'partial/section.twig' with { 
              'data': { 
                  'headline' :  'Leia mais sobre',
                  'titulo' :  term.leiamais_titulo|default('Viagem para ' ~ term.name ~ ''),
                  'bg_color' : '#F3F3F3',                                                   
              },
              'hasContainer': true,
              'class': { 'container': 'section--leiamais theme--light text-center'}
              
          }
      %}      

          
      {% if relatos[0] %}                
          {%                
              include 'partial/section.twig' with { 
                  'data': {                             
                      'titulo' :  term.relatos_titulo|default('Relatos de clientes que já foram para ' ~ term.name ),
                      'bg_color' : '#F3F3F3',
                      'carousel': { 
                          'items' : relatos, 
                          'layout': 'layout04-b', 
                          'class': 'carousel--layout04 carousel--layout04-b count--' ~ relatos|length
                      },
                      'cta' : fn( 'get_field', 'cta_padrao_relatos', 'option' ),                            
                  },
                  'tagTitle' : 'h3',
                  'hasContainer': false,
                  'class': { 'container': 'section--relatos theme--light text-center'}                        
              }
          %}
      {% endif %}

          
      {% if dicas[0] %}                
          {%                
              include 'partial/section.twig' with { 
                  'data': {                             
                      'titulo' :  term.dicas_titulo|default('Dicas de viagem sobre ' ~ term.name ),
                      'bg_color' : '#F3F3F3',
                      'cta' : fn( 'get_field', 'cta_padrao_dicas', 'option' ),
                      'carousel': { 
                          'items' : dicas, 
                          'layout': 'layout04', 
                          'class': 'carousel--layout04 count--' ~ dicas|length
                      },
                  },
                  'hasContainer': false,
                  'tagTitle' : 'h3',
                  'class': { 'container': 'section--dicas theme--light text-center'}                        
              }
          %}
      {% endif %}
      
    {% endif %} {# {% if relatos[0] or dicas[0] %} #}

  {% else %}

    {% include 'forms/busca.twig' with { 'imports': { 'facet': 'mapa' } } %}
    {% 
      include 'partial/section.twig' with {
          'data': fn( 'get_field', 'conteudo_destinos', 'option' ),
          'tagTitle': 'h2',
          'hasContainer' : true ,        
      } 
    %}

  {% endif %}

{% endblock %}