{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block beforeContent %}
  {% 
    include 'partial/section.twig' with {
        'data': fn( 'get_field', 'header_pacotes', 'option' ),
        'tagTitle': 'h1',
        'class': { 'container': 'section--pageheader' },
        'hasContainer' : true ,
        'imports': [{ 'tpl': 'forms/busca', 'facet': 'archive_pacotes' }],
    } 
  %}

  <div class="loop loop--filters">
      
      {% 
        set forms = [
          { 'tpl': 'forms/busca', 'facet': 'pacotes_meses_recomendados' },
          { 'tpl': 'forms/busca', 'facet': 'pacotes_dias_de_viagem' },
          { 'tpl': 'forms/busca', 'facet': 'pacotes_estilo_da_viagem' },
          { 'tpl': 'forms/busca', 'facet': 'pacotes_idade_mimima' },
          { 'tpl': 'forms/busca', 'facet': 'pacotes_diferenciais' },
        ]
      %}

      {% for data in forms  %}
        {% include data.tpl ~'.twig' with { 'imports': data } %}  
      {% endfor %}

  </div>
  
  <div class="loop loop--actions">
    
    <div class="loop--actions--clear text-center">
      <span onclick="FWP.reset()">Limpar filtros</span>
    </div>
    
    {% include 'parts/loop-actions.twig' %}
    
  </div>
  

{% endblock %}

{% block afterContent %}
  {% 
    include 'partial/section.twig' with {
        'data': fn( 'get_field', 'conteudo_pacotes', 'option' ),        
        'hasContainer' : true ,        
    } 
  %}
{% endblock %}