<div id="veja-mais-blog" class="">
    <div class="container">
        {% set items = fn( 'get_field', 'carousel_07', blogID ) %}
        
        {% if items %}
            {# {{ fn( 'pp_debug', items, true ) }} #}
            {% include 'carousels/carousel.twig' with { 
              'data' : {
                'items' : items , 
                'class' : 'carousel--default justify-content-around justify-content-expand-center',
                'classItem' : 'carousel--item d-flex flex-column align-items-center mx-expand-1' 
                } } %}
        {% endif %}            
    </div>
</div>