{% extends "index.twig" %}

{% set wrapper_class = 'full-width' %}
{% set aExibir = post.secoes_a_serem_exibidas %}
{% set blogID = fn( 'get_option', 'page_for_posts' ) %}
{% set load_more_text = 'Carregar mais posts' %}
{% block beforeContent %}  
	<div class="content-wrapper">
        <div id="breadcrumbs--box">
            <div class="container">
                {% include 'partial/breadcrumbs.twig' %}
            </div>
        </div>
        <nav class="navbar navbar--blog d-none d-expand-flex">
            {% include "menu.twig" with {'menu': menu_blog.get_items, 'menuClass': 'navbar--menu'} %}     
        </nav>
        {# 'bg_desktop': fn( 'get_field', 'bg_desktop', object.taxonomy ~'_'~ object.term_id ), #}
        {%                
            include 'partial/section.twig' with { 
                'data': { 
                    'titulo' :  object.name,
                    'descricao' :  fn( 'apply_filters', 'the_content', object.description ),                    
                    'bg_color' : '#FBFBFB',              
                    'hasContainer': false,
                },
                'tagTitle': 'h1',
                'hasContainer': true,
                'class': { 'container': 'section section--blogheader'}
            }
        %}   
        

        <div class="loop--filters--search">
            {% include 'parts/form-search-blog.twig' %}
        </div>    
        
        <div class="loop loop--filters loop--filters--others">
            
            {% 
                set forms = [
                    { 'tpl': 'forms/busca', 'facet': 'blog_destino' },
                    { 'tpl': 'forms/busca', 'facet': 'blog_assuntos' },
                    { 'tpl': 'forms/busca', 'facet': 'blog_epoca' },
                    { 'tpl': 'forms/busca', 'facet': 'blog_estilo' },
                ]
            %}

            {% for data in forms  %}
                {% include data.tpl ~'.twig' with { 'imports': data } %}  
            {% endfor %}    
        </div>
        
        <div class="loop loop--actions">            
            <div class="loop--actions--clear text-center">
                <span onclick="FWP.reset()">Limpar filtros</span>
            </div>
        </div>

    </div>
{% endblock %}

{% block afterContent %}  
    {% include 'blog-read-more.twig' %}
{% endblock %}