{% set wrapper_class = 'full' %}
{% extends "base.twig" %}

{% block beforeContent %}
    {% include 'carousels/slider.twig' with 
        { 
            'sliders': post.get_field('slider').carousel_01,
            'sectionID' : 'featured--slider',
            'class' : {
                'slider' : 'slide slide--default slide--fullbg slick--sameheight'
            }
        } 
    %}
{% endblock %}

{% block content %}	
    
    {% set sections = ['sobre', 'oportunidades', 'onde', 'porque', 'depoimentos'] %}
    
    {% for section in sections %}
        
        {% set data = fn('get_field', section) %}

        {# Porque #}
        {% if section == 'porque' %}
            {% set carousel = fn('get_field', 'motivos') %}
            {# {{ fn( 'pp_debug', carousel, true ) }} #}
            {% set data = data|merge({ 'carousel': { 
                'items' : carousel.carousel_01,
                'class': 'carousel--layout02',
                'classItem': 'carousel--item pos--rel d-flex flex-column align-items-center justify-content-start'
            } }) %}
        {% endif %}        
        
        {# Para Onde #}
        {% if section == 'onde' %}
            {% set carousel = fn('get_destinos', post.onde_destinos ) %}
            {% set data = data|merge({ 'hasContainer': true, 'carousel': { 'items' : carousel, 'class': 'carousel--layout01'  } }) %}
        {% endif %}        

        {# Define os parametros bases #}
        {% 
            set args = {
                'data': data,
                'sectionID': 'section--' ~ section,
                'hasContainer': true
            }
        %}
        
        {# Sobre #}
        {% if section == 'sobre' %}
            {% set args = args|merge({'tagTitle': 'h1'}) %}
        {% endif %}

        {# Oportunidades #}
        {% if section == 'oportunidades' %}            
            {% 
                set args = args|merge({ 
                    'imports': [{ 
                        'tpl' : 'carousels/carousel--oportunidades', 
                        'class': 'carousel--layout05', 
                        'posts':  post.get_field('loop_oportunidades')
                    }]} ) 
            %}
        {% endif %}

        {# Depoimentos #}
        {% if section == 'depoimentos' %}
            {% 
                set args = args|merge({ 
                    'imports': [{ 
                        'tpl' : 'carousels/carousel--depoimentos',                         
                        'items':  fn('get_field', 'testimonials').carousel_01
                    }]} ) 
            %}
        {% endif %}


        {% include 'partial/section.twig' with args %}

    {% endfor %}

<style>#featured--slider:before { background-image: url({{ fn( 'get_field', 'logotipo_home', 'options' ) }})}</style>
{% endblock %}