{% extends "base.twig" %}

{% set wrapper_class = 'full-width' %}
{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">            
            {%                
                include 'partial/section.twig' with { 
                    'data': fn( 'get_field', 'header' ),
                    'tagTitle': 'h1',
                    'class': { 'container': 'section--pageheader' },
                }
            %}            
            {% set content = fn( 'get_field', 'conteudo' ) %}            
            {% if content.conteudo %}
                <div class="section section--white">
                    <div class="container">
                        {% for layout in content.conteudo %}
                            {% include 'parts/'~ layout.acf_fc_layout ~'.twig' with { 'data': layout } %}                        
                        {% endfor %}
                    </div>
                </div>
            {% endif %}            
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}