{% extends "base.twig" %}

{% set wrapper_class = 'full-width' %}
{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">         
            {%                
                include 'partial/section.twig' with { 
                    'data': fn( 'get_field', 'header' )|merge({'mask': true}),                    
                    'tagTitle': 'h1',
                    'class': { 'container': 'section--pageheader text-center'}
                }
            %}
            
            {% if post.sobre %}            
                <div class="section section--sobre section--white text-left">
                    <div class="container">                        
                        {{ post.get_field('sobre') }}
                    </div>
                </div>            
            {% endif %}


            {% set sections = ['equipe', 'porque', 'imprensa', 'depoimentos', 'parcerias', 'dados_cadastrais', 'extra'] %}
            {% set homeID = fn( 'get_option', 'page_on_front' ) %}
            {% for section in sections %}
                
                {% set data = fn('get_field', section) %}

                {# Porque #}
                {# {% if section == 'porque' %}
                    {% set carousel = fn('get_field', 'motivos') %}        
                    {% set data = data|merge({ 'carousel': { 
                        'items' : carousel.carousel_02,
                        'class': 'carousel--layout02',
                        'classItem': 'carousel--item pos--rel d-flex flex-column align-items-center justify-content-start'
                    } }) %}
                {% endif %} #}

                {# Equipe #}
                {% if section == 'equipe' %}
                    {% set carousel = fn('get_field', 'profissionais') %}        
                    {# {{ fn( 'pp_debug', carousel, true ) }} #}
                    {% set data = data|merge({ 'carousel': { 
                        'items' : carousel.carousel_04,
                        'class': 'carousel--layout06',
                        'classItem': 'carousel--item pos--rel d-flex flex-column justify-content-start'
                    } }) %}
                {% endif %}

                {# Porque #}
                {% if section == 'porque' %}
                    {% set data = fn('get_field', section, homeID) %}
                    {% set carousel = fn('get_field', 'motivos', homeID) %}                    
                    {% set data = data|merge({ 'carousel': { 
                        'items' : carousel.carousel_01,
                        'class': 'carousel--layout02',
                        'classItem': 'carousel--item pos--rel d-flex flex-column align-items-center justify-content-start'
                    } }) %}
                {% endif %}

                {# Depoimentos #}
                {% if section == 'depoimentos' %}                    
                    {% set data = fn('get_field', section, homeID) %}
                    {# {% set carousel = fn('get_field', 'testimonials', homeID ) %} #}
                    {# {{ fn( 'pp_debug', carousel, true ) }} #}
                    {# {% set data = data|merge({ 'carousel': { 'items' : carousel.carousel_01 } }) %} #}
                {% endif %}

                {# Dados Cadastrais #}
                {% if section == 'dados_cadastrais' %}
                    {% set carousel = fn('get_field', 'cadastros') %}
                    {# {{ fn( 'pp_debug', carousel, true ) }} #}
                    {% set data = data|merge({ 'carousel': { 
                        'items' : carousel.carousel_05,
                        'class': 'carousel--items',
                        'classItem': 'carousel--item pos--rel hentry'
                    } }) %}
                {% endif %}


                {# Define os parametros bases #}
                {% 
                    set args = {
                        'data': data,
                        'sectionID': 'section--' ~ section,                        
                        'hasContainer': true
                    }
                %}

                {# Depoimentos #}
                {% if section == 'depoimentos' %}
                    {% 
                        set args = args|merge({ 
                            'imports': [{ 
                                'tpl' : 'carousels/carousel--depoimentos',                         
                                'items':  fn('get_field', 'testimonials', homeID).carousel_01
                            }]} ) 
                    %}
                {% endif %}

                
                {# Sobre #}
                {# {% if section == 'sobre' %}
                    {% set args = args|merge({'tagTitle': 'h1'}) %}
                {% endif %} #}
                {# {{ fn( 'pp_debug', args, false) }} #}
                {% if args.data.titulo %}
                    {% include 'partial/section.twig' with args %} 
                {% endif %}

            {% endfor %}



        </article>
    </div>
{% endblock %}