{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% set wrapper_class = 'full-width' %}
{% block content %}
	<div class="content-wrapper">		
    <div id="" class="section section--pageheader pos--rel " style="background-color: #FBFBFB;" data-color="light" data-hex="#FBFBFB">
      <h1 class="section--subtitle">Busca</h1>
      <div class="section--description">{{ title }}</div>
      {% if posts|length < 1 %}
        <div class="search-wrapper">
          {% include 'parts/form-search.twig' %}
        </div>
      {% endif %}
    </div>    

    {% if posts|length > 0 %}
      <div class="loop loop--filters loop--filters--others">          
          {% 
              set forms = [
                  { 'tpl': 'forms/busca', 'facet': 'blog_categorias' },
                  { 'tpl': 'forms/busca', 'facet': 'blog_destino' },
                  { 'tpl': 'forms/busca', 'facet': 'blog_assuntos' },
                  { 'tpl': 'forms/busca', 'facet': 'blog_epoca' },
                  { 'tpl': 'forms/busca', 'facet': 'blog_estilo' },
              ]
          %}

          {% for data in forms  %}
              {% include data.tpl ~'.twig' with { 'imports': data } %}  
          {% endfor %}    
      </div>
      
      <div class="loop loop--actions">            
          <div class="loop--actions--clear text-center">
              <span onclick="FWP.reset()">Limpar filtros</span>
          </div>
      </div>
      
      <div class="facetwp-template">
        {% for post in posts %}		
          {% include ['tease-'~ post.post_type ~'.twig', 'tease.twig'] %}
        {% endfor %}
      </div>
      <div class="loop--navigation">
        <button data-loading="Carregando..." class="fwp-load-more btn btn--dark">{{ load_more_text|default('Carregar mais') }}</button>
      </div>
      <div class="d-none">{{ fn( 'do_shortcode', '[facetwp facet="blog_assuntos"]' ) }}</div>
    {% endif %}
	</div><!-- /content-wrapper -->
{% endblock %}
