{% extends "base.twig" %}

{% set wrapper_class = 'full-width' %}
{% set aExibir = post.secoes_a_serem_exibidas %}
{% set blogID = fn( 'get_option', 'page_for_posts' ) %}

{% block content %}
	<div class="content-wrapper">
        <div id="breadcrumbs--box" class="d-none d-expand-block">
            <div class="container">
                {% include 'partial/breadcrumbs.twig' %}
            </div>
        </div>
		<article class="post-type-{{ post.post_type }} container" id="post-{{ post.ID }}">         

            <div class="row">
                <div class="col-12">
                    <h1 class="title--post">{{ post.title }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-expand-8 col-xl-9">
                    {% if post.imagem %}
                        <div class="figure--thumbnail">
                            {{ fn( 'set_image', post.imagem, 'large' ) }}
                        </div>
                    {% endif %}
                    <div class="hentry">
                        {{ fn( 'apply_filters', 'the_content', post.conteudo ) }}
                    </div>
                </div>
                <div class="sidebar col-expand-4 col-xl-3">

                    <div class="wrapper">
                        {% if post.saiba_mais_sobre %}
                        <div class="sidebar sidebar--saibamais">
                            <p class="h3">Saiba mais sobre</p>
                            {% for post in TimberPost(post.saiba_mais_sobre) %}
                                {% include 'tease.twig' %}
                            {% endfor %}
                        </div>
                        {% endif %}

                        {% if post.pacotes_em_destaque %}
                            <div class="sidebar sidebar--pacotes">
                                <p class="h3">Pacotes em destaque</p>
                                {% for post in TimberPost(post.pacotes_em_destaque) %}
                                    {% include 'tease.twig' %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% set sidebar = true %}
                        {% if post.posts_relacionados %}
                            <div class="sidebar sidebar--relacionados">
                                <p class="h3">Posts relacionados</p>
                                {% for post in TimberPost(post.posts_relacionados) %}
                                    {% include 'tease-post.twig' %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        
                        {% if lastPosts %}
                            <div class="sidebar sidebar--lastposts">
                                <p class="h3">Últimos posts</p>
                                {% for post in lastPosts %}
                                    {% include 'tease-post.twig' %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                        {% set sidebar = false %}


                    </div>

                </div>
            </div>

		</article>
	</div><!-- /content-wrapper -->
{% endblock %}


{% block afterContent %}  
    {% include 'blog-read-more.twig' %}
{% endblock %}
