{% extends "base.twig" %}

{% set wrapper_class = 'full-width' %}
{% set aExibir = post.secoes_a_serem_exibidas %}
{% set destinosVisitados = post.get_field('destinos_visitados') %}
{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">         
            {%                
                include 'partial/section.twig' with { 
                    'data': { 
                        'titulo' :  post.titulo_na_pagina,
                        'bg_desktop': post.imagem,
                        'mask': true,
                        'hasContainer': false,
                    },
                    'imports': [ { 'tpl': 'parts/icons-pacotes' }],
                    'tagTitle': 'h1',
                    'class': { 'container': 'section--pageheader text-center'}
                }
            %}
            
            {% if post.conteudo %}            
                <div class="section section--sobre section--white">
                    <div class="container">
                        <h2 class="section--subtitle text-center" >{{ post.subtitulo }}</h2>
                        {{ post.get_field('conteudo') }}
                    </div>
                </div>            
            {% endif %}

            {# MAPAS DESTINOS RELACIONADOS #}
            {% set showMap = post.mostrar_mapa == 'sim' ? true : false %}
            {% if showMap %}

                <div class="section section--destinosvisitados">
                    <div class="container">
                        <div class="wrapper--description text-center">
                            <h3>DESTINOS VISITADOS</h3>
                            <ul class="list--destinosvisitados">
                                {% for destino in destinosVisitados %}
                                    <li>
                                        {% if destino.post_status == 'publish' %}
                                            <a href="{{ destino.link }}" title="Veja mais sobre {{ destino.post_title }}">{{ destino.post_title }}</a>
                                        {% else %}
                                            {{ destino.post_title }}
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>                        
                    </div>
                </div>                 
                                
                <section class="section section--mapa">
                    <div class='g-maps' style='width: 100%;' data-locations='{{ fn( 'format_maps_locations', destinosVisitados ) }}' >
                    </div>
                    <div class="d-none">
                        {% for destino in destinosVisitados %}
                            {{ fn( 'infomaps', destino.ID ) }}
                        {% endfor %}
                    </div>
                </section>
            {% endif %}
            {# DESTAQUES E PASSEIOS E ATIVIDADES #}
            {% if post.get_field('destaques') or post.get_field('passeios_e_atividades') %}
            <div class="section section--white">
                <div class="container hentry">
                    <div class="row">
                        {% if post.get_field('destaques') %}
                        <div class="col-expand-6">
                            <h3>DESTAQUES</h3>
                            {{ post.get_field('destaques') }}
                        </div>
                        {% endif %}
                        {% if post.get_field('passeios_e_atividades') %}
                        <div class="col-expand-6">
                            <h3>PASSEIOS E ATIVIDADES</h3>
                            {{ post.get_field('passeios_e_atividades') }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}

            {# CONHECA O ROTEIRO #}

            {% if post.titulo_da_galeria or post.galeria %}
                {%                
                    include 'partial/section.twig' with { 
                        'data': { 
                            'titulo' :  post.titulo_da_galeria|default('CONHEÇA MELHOR O ROTEIRO'),
                            'bg_color' : '#939393',
                        },
                        'imports': [
                            { 
                                'tpl': 'carousels/carousel', 
                                'class': 'carousel--gallery', 
                                'classItem': 'carousel--item pos--rel d-flex flex-column align-items-center justify-content-start', 
                                'layout': 'acf-gallery', 
                                'items': post.galeria 
                            },
                        ],
                        'hasContainer': true,
                    }
                %}
            {% endif %}

            {# PREÇOS #}
            {% set variacoes = post.get_field('variacoes') %}
            {% if variacoes %}
            {% if post.moeda_padrao %}
                <input type="hidden" id="defaultpriceselector" value="{{ post.moeda_padrao }}">
            {% endif %}
                <div class="section section--atencao section--white border-bottom">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 mb-6">
                                <h4>
                                    <span>PREÇOS ESTIMADOS, POR FAMÍLIA, EM</span>
                                    <div class="priceselector--wrapper">
                                        <select id="priceselector">
                                            {% set currencies = fn( 'get_currencies') %}
                                            {% for label, currencie in currencies %}
                                                {% set selected = post.moeda_padrao == currencie ? 'selected' : '' %}
                                                <option {{selected}} value="{{ currencie }}">{{ label }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </h4>
                            </div>
                            <div class="col-expand-6 mb-5 mb-expand-0">                                
                                <div class="table">                                    
                                    <div class="table--header">Duração do Roteiro</div>
                                    <div class="table--header">Composição da família</div>
                                    <div class="table--header">Preço total para a família</div>
                                    {% for variacao in variacoes %}
                                        {% set gridstart = gridstart ? gridstart : 2 %} 
                                        {% set gridend = gridstart + (variacao.composicoes|length) %}
                                        <div class="table--duracao" style="grid-row: {{ gridstart }} / {{ gridend }}">
                                            {{ fn( 'plural', variacao.duracao_do_roteiro_dias, 'dia' ) }} /
                                            {{ fn( 'plural', variacao.duracao_do_roteiro_noites, 'noite' ) }}                                            
                                        </div>
                                        {% for composicao in variacao.composicoes %}
                                            <div class="table-composicao">
                                                {{ fn( 'plural', composicao.adultos, 'adulto' ) }} + 
                                                {{ fn( 'plural', composicao.criancas, 'criança' ) }} até
                                                {{ fn( 'plural', post.limite_de_idade_para_crianca , 'ano' ) }}
                                            </div>
                                            
                                            <div class="table-valor">
                                                {{ fn( 'formatar_preco', composicao.valor, variacao.moeda ) }}
                                            </div>

                                        {% endfor %}
                                        {% set gridstart = gridend %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="col-expand-6 hentry">
                                {% if post.atencao == 'Outro' %} 
                                    <h4>ATENÇÃO</h4>
                                    {{ post.get_field('atencao_especifico') }}
                                {% else %}
                                    <h4>ATENÇÃO</h4>
                                    {{ fn( 'get_padrao', 'opcoes_de_atencao', post.atencao ) }}
                                {% endif %}
                            </div>
                            <div class="col-12 text-center">                                
                                {% include 'acf/link.twig' with { link: fn( 'get_field', 'cta_cotacao', 'option' ), class: 'btn btn--dark' } %}            
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            
            {# OPORTUNIDADES #}
            {% if oportunidades %}
                <div class="section section--oportunidades">
                    <div class="container hentry">
                        <h4>OPORTUNIDADE</h4>                
                        <ul>
                            {% for obj in oportunidades %}
                                <li class="list-oportunidade">
                                    <span>{{ obj.post_title }}</span> <br />
                                    <a href="{{ obj.link }}" class="" title="Saiba mais sobre {{ obj.post_title }}">
                                        SAIBA MAIS
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endif %}

            {# INCLUI E NÃO INCLUI #}
            {% if post.inclui or post.nao_inclui or condicoes_gerais %}
                <div class="section section--inclusoes section--white">
                    <div class="container">
                        <div class="row hentry">
                            {% if post.inclui %}                        
                                <div class="col-expand-6">
                                    <h4>INCLUI</h4>
                                    {{ post.get_field('inclui') }}
                                </div>
                            {% endif %}
                            
                            {% if post.nao_inclui %}                        
                                <div class="col-expand-6">
                                    <h4>NÃO INCLUI</h4>
                                    {{ post.get_field('nao_inclui') }}
                                </div>
                            {% endif %}

                            {% if post.condicoes_gerais %}
                                <div class="col-12 condicoes border-top border-bottom hentry">
                                    <h4>CONDIÇÕES GERAIS</h4>
                                    {% if post.condicoes_gerais == 'Outro' %} 
                                        {{ post.get_field('condicoes_gerais') }}
                                    {% else %}                                
                                        {{ fn( 'get_padrao', 'opcoes_de_condicoes_gerais', post.condicoes_gerais ) }}
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="col-12 text-center">                                
                                {% include 'acf/link.twig' with { 'link': fn( 'get_field', 'cta_cotacao', 'option' ), 'class': 'btn btn--dark' } %}            
                            </div>                
                        </div>                                
                    </div>
                </div>
            {% endif %}


            {% if 'extensoes' in aExibir and post.get_field('extensoes') %}
                {%                
                    include 'partial/section.twig' with { 
                        'data': {                             
                            'titulo' :  post.extensoes_titulo,
                            'bg_color' : '#DDDDDD',  
                            'carousel': { 
                                'items' : post.get_field('extensoes'), 
                                'layout': 'tease', 
                                'class': 'carousel--layout03 count--' ~ post.get_field('extensoes')|length
                            }
                        },
                        'hasContainer': false,
                        'class': { 'container': 'section--extensoes section--1400 theme--light text-center'}                        
                    }
                %}
            {% endif %}

            
            {% if 'outros_pacotes' in aExibir and post.get_field('outros_pacotes')%}
                {%                
                    include 'partial/section.twig' with { 
                        'data': {                             
                            'titulo' :  post.outros_pacotes_titulo,
                            'bg_color' : '#F3F3F3',  
                            'carousel': { 
                                'items' : post.get_field('outros_pacotes'), 
                                'layout': 'tease', 
                                'class': 'carousel--layout03 count--' ~ post.get_field('outros_pacotes')|length
                            }
                        },
                        'hasContainer': false,
                        'class': { 'container': 'section--outrospacotes section--1400 theme--light text-center'}
                    }
                %}
            {% endif %}

            
            {% if 'leia_mais_sobre' in aExibir and leiamais %}
                {%                
                    include 'partial/section.twig' with { 
                        'data': {                             
                            'titulo' :  post.leia_mais_sobre_titulo,
                            'bg_color' : '#DDDDDD',  
                            'carousel': { 
                                'items' : TimberPost(leiamais),
                                'layout': 'tease',
                                'class': 'carousel--layout04'
                            }
                        },
                        'hasContainer': true,
                        'class': { 'container': 'section--1400  theme--light text-center'}                        
                    }
                %}
            {% endif %}



            {% if 'consultoria' in aExibir %}                
                {%                
                    include 'partial/section.twig' with { 
                        'data': { 
                            'titulo' :  post.consultoria_titulo|default('ROTEIRO PERSONALIZADO PARA ' ~ post.post_title ),
                            'descricao' :  post.consultoria_chamada|default('Se você quer um roteiro diferente dos exibidos aqui no site, desenvolvido completamente sob medida para a sua família, você pode contratar o nosso serviço de Consultoria Personalizada. Saiba mais como ela funciona e os preços cobrados pelo serviço'),
                            'cta' : fn( 'get_field', 'cta_padrao_consultoria', 'option' ),
                            'bg_color' : '#FFFFFF',  
                        },                 
                        'hasContainer': true,       
                        'class': { 'container': 'section--pacotes section--white text-center'}
                    }
                %}
            {% endif %}


		</article>
	</div><!-- /content-wrapper -->
{% endblock %}