{% extends "base.twig" %}

{% set wrapper_class = 'full-width' %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">         
            {%                
                include 'partial/section.twig' with { 
                    'data': { 
                        'titulo' :  post.titulo_na_pagina,
                        'bg_desktop': post.imagem,
                        'mask': true,
                        'hasContainer': false,
                    },
                    'tagTitle': 'h1',
                    'class': { 'container': 'section--pageheader text-center text-white'}
                }
            %}
            
            {% if post.conteudo %}            
                <div class="section section--sobre section--white">
                    <div class="container">
                        {{ post.get_field('conteudo') }}
                    </div>
                </div>            
            {% endif %}

            {% set aExibir = post.secoes_a_serem_exibidas %}

            {# {{ fn( 'pp_debug', aExibir, false ) }} #}

            {% if 'pacotes' in aExibir and pacotes %}                
                {%                
                    include 'partial/section.twig' with { 
                        'data': { 
                            'titulo' :  post.pacotes_titulo|default('PACOTES PARA VIAJAR PARA ' ~ post.title ~ ' COM CRIANÇAS'),                            
                            'bg_color' : '#F3F3F3',
                            'carousel': { 
                                'items' : TimberPost(pacotes), 
                                'layout': 'tease', 
                                'class': 'carousel--layout03 count--' ~ pacotes|length
                            }
                        },
                        'hasContainer': false,
                    }
                %}
            {% endif %}

            {% if 'consultoria' in aExibir %}                
                {%                
                    include 'partial/section.twig' with { 
                        'data': { 
                            'titulo' :  post.consultoria_titulo|default('ROTEIRO PARA ' ~ post.title ~ ' PERSONALIZADO'),
                            'descricao' :  post.consultoria_chamada|default('Se você quer um roteiro para a ' ~ post.title ~ ' diferente destes exibidos no site, desenvolvido completamente sob medida para a sua família, você pode contratar o nosso serviço de Consultoria Personalizada. Saiba mais como ela funciona e os preços cobrados pelo serviço.'),
                            'cta' : fn( 'get_field', 'cta_padrao_consultoria', 'option' ),
                        },                        
                        'class': { 'container': 'section--pacotes theme--dark text-center container'}
                    }
                %}
            {% endif %}

            
            {# {{ fn( 'pp_debug', aExibir, true ) }} #}
            {% if  'leiamais' in aExibir and (relatos[0] or dicas[0]) %}
                {%                
                    include 'partial/section.twig' with { 
                        'data': { 
                            'headline' :  'Leia mais sobre',
                            'titulo' :  post.leiamais_titulo|default('Viagem para ' ~ post.titulo_na_pagina ~ ''),
                            'bg_color' : '#F3F3F3',                                                   
                        },
                        'hasContainer': true,
                        'class': { 'container': 'section--leiamais theme--light text-center'}
                        
                    }
                %}
            {% endif %}

            
            {% if 'relatos' in aExibir and (relatos[0]) %}                
                {%                
                    include 'partial/section.twig' with { 
                        'data': {                             
                            'titulo' :  post.relatos_titulo|default('Relatos de clientes que já foram para ' ~ post.title ),
                            'bg_color' : '#F3F3F3',
                            'carousel': { 
                                'items' : relatos, 
                                'layout': 'layout04-b', 
                                'class': 'carousel--layout04 carousel--layout04-b'
                            },
                            'cta' : fn( 'get_field', 'cta_padrao_relatos', 'option' ),                            
                        },
                        'tagTitle' : 'h3',
                        'hasContainer': false,
                        'class': { 'container': 'section--relatos theme--light text-center'}                        
                    }
                %}
            {% endif %}

            
            {% if 'dicas' in aExibir and (dicas[0]) %}                
                {%                
                    include 'partial/section.twig' with { 
                        'data': {                             
                            'titulo' :  post.dicas_titulo|default('Dicas de viagem sobre ' ~ post.title ),
                            'bg_color' : '#F3F3F3',
                            'cta' : fn( 'get_field', 'cta_padrao_dicas', 'option' ),
                            'carousel': { 
                                'items' : dicas, 
                                'layout': 'layout04', 
                                'class': 'carousel--layout04'
                            },
                        },
                        'hasContainer': container,
                        'tagTitle' : 'h3',
                        'class': { 'container': 'section--dicas theme--light text-center'}                        
                    }
                %}
            {% endif %}
            
            {% if post.mapa_destinos and 'mapa' in aExibir %}                
                
                <section class="section section--mapa">
                    <div class='g-maps' style='width: 100%;' data-locations='{{ fn( 'format_maps_locations', post.mapa_destinos ) }}' >                        
                    </div>
                    <div class="d-none">
                        {% for postID in post.mapa_destinos %}
                            {{ fn( 'infomaps', postID ) }}
                        {% endfor %}
                    </div>
                </section>

            {% endif %}

            {% if post.outros_destinos and 'outrosdestinos' in aExibir %}                
                {%                
                    include 'partial/section.twig' with { 
                        'data': {                             
                            'titulo' :  post.outrosdestinos_titulo|default('Outros destinos que você pode gostar'),
                            'bg_color' : '#D8D8D8',
                            'carousel': { 
                                'items' : TimberPost(post.outros_destinos), 
                                'layout': 'tease', 
                                'class': 'carousel--layout03 count--' ~ post.outros_destinos|length
                            }
                        },
                        'class': { 'container': 'section--outrosdestinos text-center'}                        
                    }
                %}
            {% endif %}

		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
