{% set tituloTermo = post.category.titulo_abreviado ? post.category.titulo_abreviado : post.category  %}
{% set thubmnailType =  sidebar ? 'thumbnail' : 'thumb-post' %}
<article class="tease tease--{{post.post_type}}" id="tease--{{post.ID}}">
	{% block content %}
		<a href="{{post.link}}" class="anchor--default" title="{{post.title}}">
			{% if post.imagem %}				
				{{ fn( 'set_image', post.imagem, thubmnailType ) }}
			{% endif %}			
			<h2 class="tease--title" data-type="blog">
				<span class="tease--headline">{{ tituloTermo }}</span>
				{{post.title}}
			</h2>			
			{% if post.chamada %}
				<p class="tease--chamada">{{ post.chamada }}</p>
			{% endif %}			
		</a>
	{% endblock %}
</article>