<article class="tease tease--{{post.post_type}}" id="tease--{{post.ID}}">
	{% block content %}
		<a href="{{post.link}}" class="anchor--default" title="{{post.title}}"  >
			{% if post.imagem %}
				{{ fn( 'set_image', post.imagem ) }}
			{% endif %}			
			<h2 class="tease--title" data-type="{{post.post_type}}">{{post.title}}</h2>			
			{% if post.chamada %}
				<p class="tease--chamada">{{ post.chamada }}</p>
			{% endif %}
			{% if post.post_type == 'pacotes' %}
				<p class="tease--chamada">
					{{post.chamada}}
					{% if post.post_type == 'pacotes' %}						
							<span>
								<span class="d-inline-block icon-fw-person"></span>
								<span>{{ post.idade_minima_recomendada }}+ anos</span>
							</span>								
						{% if post.data_da_viagem %}
							<span>
								<span class="d-inline-block icon-fw-calendar"></span>
								<span>{{ post.data_da_viagem }}</span>
							</span>		
						{% endif %}
						{% if post.index_estadia_minima %}
							<span>
								<span class="d-inline-block icon-fw-ampuleta"></span>
								<span>{{ post.index_estadia_minima }}+ dias</span>
							</span>		
						{% endif %}
					{% endif %}
				</p>
			{% endif %}
		</a>
	{% endblock %}
</article>