@mixin slick--sameheight() {
    .slick-track {
        display: flex;
        
        .slick-slide{
            display: flex;
            height: auto;
        }
    }
}

@mixin slick--fullwide($overflow: visible) {
    .slick-list {
        overflow: $overflow;        
    }
    @media (min-width: 768px) {
        max-width: calc(100vw - 150px);
        margin-left: auto;
        margin-right: auto;
        .slick-prev {
            left: -50px;
        }
        .slick-next {
            right: -50px;
        }
    }
}

.slide {
    opacity: 0;
    @include transition;
}

.slick {
    
    &-initialized {
        opacity: 1;
    }

    &-slider {

    }
    
    &-track {
        // transition: 250ms ease all;        
    }
    
    &-slide {
        // transition: 250ms ease all;        
    }

    &-arrow {
        appearance: none !important;
        position: absolute;
        top: 50%;
        z-index: 20;
        font-size: 0;
        line-height: 0;
        display: block;    
        transform: translate(0, -50%);
        @include transition();
        color: transparent;
        border: none;
        outline: none;
        background: transparent;
        cursor: pointer;
        
        &:focus, &:active, &:hover {
            outline: none;
            opacity: .85;
        }

        &.slick-next {
            right: 55px;
        }
        &.slick-prev {
            left: 55px;
        }
        &.slick-disabled {
            opacity: .35;
        }

    }

    &-dots {
        position: absolute;
        bottom: 45px;
        list-style: none;
        display: block;
        text-align: center;
        padding: 0;
        margin: 0;
        width: 100%;
        z-index: 2;
        li {
            position: relative;
            display: inline-block;
            height: 15px;
            width: 15px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
            button {
                border: 0;
                background: transparent;
                display: block;
                height: 15px;
                width: 15px;
                outline: none;
                line-height: 0px;
                font-size: 0px;
                color: transparent;
                padding: 5px;
                cursor: pointer;
                &:hover, &:focus {
                    outline: none;
                    &:before {
                        opacity: .5;
                    }
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: "";
                    width: 15px;
                    height: 15px;
                    text-align: center;
                    background-color: white;
                    border-radius: 10px;
                }
            }
            &.slick-active button:before {
                opacity: .5;
            }
        }
    }
    &--sameheight {
        @include slick--sameheight();
    }
    &--fullwide {
        // @include slick--fullwide();
    }
}






/* Slide Description on Hover */
/* ----------------------------------------- */
    @mixin carousel--description--on--hover {

        .carousel {
            &--item {
                @include transition;

                figure {
                    @include el--background;
                }
                
                &:hover {
                    
                    .carousel--title {
                        opacity: 0;
                    }
                    
                    .carousel--description {
                        opacity: 1;
                    }

                }
            }  

            &--title {
                @include parent--full;
                @include transition;                
                margin: 0;
                opacity: 1;
            }  

            &--description {
                @include transition;
                opacity: 0;
            }

        }

    }
/* ----------------------------------------- Slide Description on Hover */
