<div class="search-wrapper">
  <form method="get" action="{{ site.home_url }}">
      <label for="s" class="sr-only">Pesquisar</label>
      <input type="text" required class="field" name="s" placeholder="Busque entre os posts do blog..." />
      <input type="submit" class="icon-search" />
      <input type="hidden" name="post_type" value="post">
  </form>
</div>