<form method="get" action="{{ site.home_url }}">
    <label for="s" class="sr-only">Pesquisar</label>
    <input type="text" required class="field" name="s" placeholder="Pesquisar..." />
    <input type="submit" class="icon-search" />
</form>