{% if post.idade_minima_recomendada or post.data_da_viagem or post.index_estadia_minima %}
    <p class="tease--chamada tease--chamada--icons">        
        {% if post.post_type == 'pacotes' %}
            {% if post.idade_minima_recomendada %}
                <span>
                    <span class="d-inline-block icon-fw-person"></span>
                    <span>{{ post.idade_minima_recomendada }}+ anos</span>
                </span>		
            {% endif %}
            {% if post.data_da_viagem %}
                <span>
                    <span class="d-inline-block icon-fw-calendar"></span>
                    <span>{{ post.data_da_viagem }}</span>
                </span>		
            {% endif %}
            {% if post.index_estadia_minima %}
                <span>
                    <span class="d-inline-block icon-fw-ampuleta"></span>
                    <span>{{ post.index_estadia_minima }}+ dias</span>
                </span>		
            {% endif %}
        {% endif %}
    </p>
{% endif %}