<div class="loop--actions--sort d-none d-expand-flex text-center">
    <span><span data-layout="lista" title="Visualizar em Lista" class="icon-list"></span></span>
    <span><span data-layout="grid" title="Visualizar em Grid" class="icon-grid"></span></span>
    <span><span data-order="title_asc" title="Ordenar de A a Z" class="icon-sort-a-off"></span></span>
    <span><span data-order="title_desc" title="Ordenar de Z a A" class="icon-sort-z-off"></span></span>
    <span><span data-order="buscados" class="hover--underline" title="Ordenar por mais buscados">mais buscados</span></span>
</div>